# Foundations Of Data Science Project

### Data Processing(Cleaning, Selection, Transformation)

In [179]:
import pandas as pd

In [180]:
currentdf = pd.read_csv('real_time_air_quality_index.csv')
display(currentdf.head())

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,PM2.5,NaN,NaN,NaN
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,NO2,4.0,19.0,9.0
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,SO2,15.0,19.0,17.0
3,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",16-09-2024 18:00:00,14.675886,77.593027,NH3,4.0,4.0,4.0
4,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",16-09-2024 18:00:00,14.675886,77.593027,CO,29.0,46.0,40.0

In [181]:
currentdf.drop(['latitude', 'longitude', 'last_update', 'country'], axis=1, inplace=True)
display(currentdf.head())

,state,city,station,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",PM2.5,NaN,NaN,NaN
1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",NO2,4.0,19.0,9.0
2,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",SO2,15.0,19.0,17.0
3,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",NH3,4.0,4.0,4.0
4,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",CO,29.0,46.0,40.0

In [182]:
def states(cur_df, df_21, df_22):
    s_22 = df_22['state'].unique().tolist()
    print(s_22)
    s_21 = df_21['state'].unique().tolist()
    print(s_21)
    s_cur = cur_df['state'].unique().tolist()
    print(s_cur)

    print(s_21 == s_22)
    print(s_21 == s_cur)

In [183]:
df_2021 = pd.read_csv('data_2021.csv', skiprows=2)
display(df_2021.head())

,State / Union Territory,City / town / village,Annual Average SO2,Annual Average NO2,Annual Average PM10,Annual Average PM2.5
0,Andhra Pradesh,Amaravati,14,12,55,28
1,Andhra Pradesh,Anatapur,7,16,64,30
2,Andhra Pradesh,Chittor,5,14,46,25
3,Andhra Pradesh,Eluru,5,17,63,30
4,Andhra Pradesh,Guntur,5,17,60,29

In [184]:
df_2021.rename(columns={'State / Union Territory ':'state', 'City / town / village ':'city', 'Annual Average SO2':'SO2 Average'}, inplace=True)
df_2021.rename(columns={'Annual Average NO2':'NO2 Average', 'Annual Average PM10':'PM10 Average', 'Annual Average PM2.5':'PM2.5 Average'}, inplace=True)
numeric_cols = ['SO2 Average', 'NO2 Average', 'PM10 Average', 'PM2.5 Average']
df_2021[numeric_cols] = df_2021[numeric_cols].apply(pd.to_numeric, errors='coerce')
display(df_2021.head())

,state,city,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
0,Andhra Pradesh,Amaravati,14.0,12.0,55.0,28.0
1,Andhra Pradesh,Anatapur,7.0,16.0,64.0,30.0
2,Andhra Pradesh,Chittor,5.0,14.0,46.0,25.0
3,Andhra Pradesh,Eluru,5.0,17.0,63.0,30.0
4,Andhra Pradesh,Guntur,5.0,17.0,60.0,29.0

In [185]:
states(currentdf, df_2021, df_2021)

['Andhra Pradesh ', 'Arunachal Pradesh ', 'Assam ', 'Bihar ', 'Chandigarh (UT) ', 'Chattisgarh ', 'Dadara & Nagar Haveli and Daman & Diu (UT) ', 'Delhi (UT) ', 'Goa ', 'Gujarat ', 'Haryana ', 'Himachal Pradesh ', 'Jammu & Kashmir (UT) ', 'Jharkhand ', 'Karnataka ', 'Kerala ', 'Madhya Pradesh ', 'Maharashtra ', 'Manipur ', 'Meghalaya ', 'Mizoram ', 'Nagaland ', 'Odisha ', 'Pondicherry (UT) ', 'Punjab ', 'Rajasthan ', 'Sikkim ', 'TamilNadu ', 'Telangana ', 'Tripura ', 'Uttar Pradesh ', 'Uttarakhand ', 'West Bengal ']
['Andhra Pradesh ', 'Arunachal Pradesh ', 'Assam ', 'Bihar ', 'Chandigarh (UT) ', 'Chattisgarh ', 'Dadara & Nagar Haveli and Daman & Diu (UT) ', 'Delhi (UT) ', 'Goa ', 'Gujarat ', 'Haryana ', 'Himachal Pradesh ', 'Jammu & Kashmir (UT) ', 'Jharkhand ', 'Karnataka ', 'Kerala ', 'Madhya Pradesh ', 'Maharashtra ', 'Manipur ', 'Meghalaya ', 'Mizoram ', 'Nagaland ', 'Odisha ', 'Pondicherry (UT) ', 'Punjab ', 'Rajasthan ', 'Sikkim ', 'TamilNadu ', 'Telangana ', 'Tripura ', 'Uttar Pradesh ', 'Uttarakhand ', 'West Bengal ']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal', 'Jammu_and_Kashmir', 'Nagaland']
True
False

In [186]:
df_2022 = pd.read_csv('data_2022.csv')
display(df_2022.head())

,Sr.No.,State / Union Territory,City / town,SO2 Annual Average,NO2 Annual Average,PM10 Annual Average,PM2.5 Annual Average
0,1,Andhra Pradesh,Amaravati,12,10,54,30
1,2,Andhra Pradesh,Anatapur,6,19,61,32
2,3,Andhra Pradesh,Chittor,5,13,55,31
3,4,Andhra Pradesh,Eluru,5,18,67,31
4,5,Andhra Pradesh,Guntur,4,17,60,23

In [187]:
df_2022.rename(columns={'State / Union Territory':'state', 'City / town':'city', 'SO2 Annual Average':'SO2 Average'}, inplace=True)
df_2022.rename(columns={'NO2 Annual Average':'NO2 Average', 'PM10 Annual Average':'PM10 Average', 'PM2.5 Annual Average':'PM2.5 Average'}, inplace=True)
df_2022.drop(columns='Sr.No.', inplace=True)
numeric_cols = ['SO2 Average', 'NO2 Average', 'PM10 Average', 'PM2.5 Average']
df_2022[numeric_cols] = df_2022[numeric_cols].apply(pd.to_numeric, errors='coerce')
display(df_2022.head())

,state,city,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
0,Andhra Pradesh,Amaravati,12.0,10.0,54.0,30.0
1,Andhra Pradesh,Anatapur,6.0,19.0,61.0,32.0
2,Andhra Pradesh,Chittor,5.0,13.0,55.0,31.0
3,Andhra Pradesh,Eluru,5.0,18.0,67.0,31.0
4,Andhra Pradesh,Guntur,4.0,17.0,60.0,23.0

In [188]:
states(currentdf, df_2021, df_2022)

['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh (UT)', 'Chattisgarh', 'Dadara & Nagar Haveli and Daman & Diu (UT)', 'Delhi (UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir (UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Pondicherry (UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']
['Andhra Pradesh ', 'Arunachal Pradesh ', 'Assam ', 'Bihar ', 'Chandigarh (UT) ', 'Chattisgarh ', 'Dadara & Nagar Haveli and Daman & Diu (UT) ', 'Delhi (UT) ', 'Goa ', 'Gujarat ', 'Haryana ', 'Himachal Pradesh ', 'Jammu & Kashmir (UT) ', 'Jharkhand ', 'Karnataka ', 'Kerala ', 'Madhya Pradesh ', 'Maharashtra ', 'Manipur ', 'Meghalaya ', 'Mizoram ', 'Nagaland ', 'Odisha ', 'Pondicherry (UT) ', 'Punjab ', 'Rajasthan ', 'Sikkim ', 'TamilNadu ', 'Telangana ', 'Tripura ', 'Uttar Pradesh ', 'Uttarakhand ', 'West Bengal ']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal', 'Jammu_and_Kashmir', 'Nagaland']
False
False

In [189]:
#cleaning state names
df_2021['state'] = df_2021['state'].str.replace(" ", "_")
df_2021['state'] = df_2021['state'].str.rstrip('_')
df_2021['state'] = df_2021['state'].str.replace("Pondicherry_(UT)", "Puducherry_(UT)")
display(df_2021.head())

,state,city,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
0,Andhra_Pradesh,Amaravati,14.0,12.0,55.0,28.0
1,Andhra_Pradesh,Anatapur,7.0,16.0,64.0,30.0
2,Andhra_Pradesh,Chittor,5.0,14.0,46.0,25.0
3,Andhra_Pradesh,Eluru,5.0,17.0,63.0,30.0
4,Andhra_Pradesh,Guntur,5.0,17.0,60.0,29.0

In [190]:
#cleaning state names
df_2022['state'] = df_2022['state'].str.replace(" ", "_")
df_2022['state'] = df_2022['state'].str.rstrip('_')
df_2022['state'] = df_2022['state'].str.replace("Pondicherry_(UT)", "Puducherry_(UT)")
display(df_2022.head())

,state,city,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
0,Andhra_Pradesh,Amaravati,12.0,10.0,54.0,30.0
1,Andhra_Pradesh,Anatapur,6.0,19.0,61.0,32.0
2,Andhra_Pradesh,Chittor,5.0,13.0,55.0,31.0
3,Andhra_Pradesh,Eluru,5.0,18.0,67.0,31.0
4,Andhra_Pradesh,Guntur,4.0,17.0,60.0,23.0

In [191]:
states(currentdf, df_2021, df_2022)

['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)', 'Delhi_(UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir_(UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)', 'Delhi_(UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir_(UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal', 'Jammu_and_Kashmir', 'Nagaland']
True
False

In [192]:
currentdf['state'] = currentdf['state'].str.replace(" ", "_")
currentdf['state'] = currentdf['state'].str.rstrip('_')
currentdf['state'] = currentdf['state'].str.replace('Chandigarh', 'Chandigarh_(UT)')
currentdf['state'] = currentdf['state'].str.replace('Chhattisgarh', 'Chattisgarh')
currentdf['state'] = currentdf['state'].str.replace('Delhi', 'Delhi_(UT)')
currentdf['state'] = currentdf['state'].str.replace('Jammu_and_Kashmir', 'Jammu_&_Kashmir_(UT)')
currentdf['state'] = currentdf['state'].str.replace('Puducherry', 'Puducherry_(UT)')
states(currentdf, df_2021, df_2022)

['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)', 'Delhi_(UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir_(UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)', 'Delhi_(UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir_(UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Delhi_(UT)', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal', 'Jammu_&_Kashmir_(UT)', 'Nagaland']
True
False

So state in both df_2021, df_2022 are in sync

#### SQLite

Normalisation

In [193]:
import sqlite3
conn = sqlite3.connect('project.db', timeout=30)
c = conn.cursor()

In [194]:
#Storing data in sql database
currentdf.to_sql('currentdf', conn, if_exists='replace', index=False)
conn.commit()
df_2021.to_sql('df_2021', conn, if_exists='replace', index=False)
conn.commit()
df_2022.to_sql('df_2022', conn, if_exists='replace', index=False)
conn.commit()

In [195]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [196]:
%sql sqlite:///project.db

_First Normal Form (1NF)_  
No Multivalue attribute  
Composite Primary Key - (station, pollutant_id)

*Second Normal Form*  
Functional Dependencies: (station, pollutant_id) -> pollutant_min, pollutant_max, pollutant_avg

In [197]:
%%sql
CREATE TABLE IF NOT EXISTS nor_currentdf (
  station text NOT NULL,
  pollutant_id text NOT NULL,
  pollutant_min float,
  pollutant_max float,
  pollutant_avg float,
  PRIMARY KEY  ('station', 'pollutant_id'));
INSERT OR IGNORE INTO nor_currentdf (station, pollutant_id, pollutant_min, pollutant_max, pollutant_avg) 
SELECT station, pollutant_id, pollutant_min, pollutant_max, pollutant_avg FROM currentdf;

SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///project.db
Done.
0 rows affected.
Done.

[('table', 'nor_currentdf', 'nor_currentdf', 69, "CREATE TABLE nor_currentdf (\n  station text NOT NULL,\n  pollutant_id text NOT NULL,\n  pollutant_min float,\n  pollutant_max float,\n  pollutant_avg float,\n  PRIMARY KEY  ('station', 'pollutant_id'))"),
 ('table', 'state_city', 'state_city', 150, 'CREATE TABLE state_city (\n  city text NOT NULL,\n  state text NOT NULL)'),
 ('table', 'city_station', 'city_station', 153, 'CREATE TABLE city_station(\n  city text NOT NULL,\n  station text NOT NULL)'),
 ('table', 'mod_cur_df', 'mod_cur_df', 160, 'CREATE TABLE "mod_cur_df" (\n"state" TEXT,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL,\n  "SO2 Average" REAL\n)'),
 ('table', 'mod_df_2021', 'mod_df_2021', 161, 'CREATE TABLE "mod_df_2021" (\n"state" TEXT,\n  "SO2 Average" REAL,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL\n)'),
 ('table', 'mod_df_2022', 'mod_df_2022', 162, 'CREATE TABLE "mod_df_2022" (\n"state" TEXT,\n  "SO2 Average" REAL,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL\n)'),
 ('table', 'currentdf', 'currentdf', 2, 'CREATE TABLE "currentdf" (\n"state" TEXT,\n  "city" TEXT,\n  "station" TEXT,\n  "pollutant_id" TEXT,\n  "pollutant_min" REAL,\n  "pollutant_max" REAL,\n  "pollutant_avg" REAL\n)'),
 ('table', 'df_2021', 'df_2021', 59, 'CREATE TABLE "df_2021" (\n"state" TEXT,\n  "city" TEXT,\n  "SO2 Average" REAL,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL\n)'),
 ('table', 'df_2022', 'df_2022', 64, 'CREATE TABLE "df_2022" (\n"state" TEXT,\n  "city" TEXT,\n  "SO2 Average" REAL,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL\n)')]

*Third Normal Form*  
Transitive Dependency: state -> city, city -> station

In [198]:
%%sql

CREATE TABLE IF NOT EXISTS state_city (
  city text NOT NULL,
  state text NOT NULL);
INSERT OR IGNORE INTO state_city (city, state) 
SELECT DISTINCT city, state FROM currentdf;

CREATE TABLE IF NOT EXISTS city_station(
  city text NOT NULL,
  station text NOT NULL);
INSERT OR IGNORE INTO city_station (city, station) 
SELECT DISTINCT city, station FROM currentdf;

SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///project.db
Done.
266 rows affected.
Done.
498 rows affected.
Done.

[('table', 'nor_currentdf', 'nor_currentdf', 69, "CREATE TABLE nor_currentdf (\n  station text NOT NULL,\n  pollutant_id text NOT NULL,\n  pollutant_min float,\n  pollutant_max float,\n  pollutant_avg float,\n  PRIMARY KEY  ('station', 'pollutant_id'))"),
 ('table', 'state_city', 'state_city', 150, 'CREATE TABLE state_city (\n  city text NOT NULL,\n  state text NOT NULL)'),
 ('table', 'city_station', 'city_station', 153, 'CREATE TABLE city_station(\n  city text NOT NULL,\n  station text NOT NULL)'),
 ('table', 'mod_cur_df', 'mod_cur_df', 160, 'CREATE TABLE "mod_cur_df" (\n"state" TEXT,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL,\n  "SO2 Average" REAL\n)'),
 ('table', 'mod_df_2021', 'mod_df_2021', 161, 'CREATE TABLE "mod_df_2021" (\n"state" TEXT,\n  "SO2 Average" REAL,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL\n)'),
 ('table', 'mod_df_2022', 'mod_df_2022', 162, 'CREATE TABLE "mod_df_2022" (\n"state" TEXT,\n  "SO2 Average" REAL,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL\n)'),
 ('table', 'currentdf', 'currentdf', 2, 'CREATE TABLE "currentdf" (\n"state" TEXT,\n  "city" TEXT,\n  "station" TEXT,\n  "pollutant_id" TEXT,\n  "pollutant_min" REAL,\n  "pollutant_max" REAL,\n  "pollutant_avg" REAL\n)'),
 ('table', 'df_2021', 'df_2021', 59, 'CREATE TABLE "df_2021" (\n"state" TEXT,\n  "city" TEXT,\n  "SO2 Average" REAL,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL\n)'),
 ('table', 'df_2022', 'df_2022', 64, 'CREATE TABLE "df_2022" (\n"state" TEXT,\n  "city" TEXT,\n  "SO2 Average" REAL,\n  "NO2 Average" REAL,\n  "PM10 Average" REAL,\n  "PM2.5 Average" REAL\n)')]

In [199]:
%%sql
SELECT * FROM currentdf LIMIT 25;

 * sqlite:///project.db
Done.

[('Andhra_Pradesh', 'Amaravati', 'Secretariat, Amaravati - APPCB', 'PM2.5', None, None, None),
 ('Andhra_Pradesh', 'Amaravati', 'Secretariat, Amaravati - APPCB', 'NO2', 4.0, 19.0, 9.0),
 ('Andhra_Pradesh', 'Amaravati', 'Secretariat, Amaravati - APPCB', 'SO2', 15.0, 19.0, 17.0),
 ('Andhra_Pradesh', 'Anantapur', 'Gulzarpet, Anantapur - APPCB', 'NH3', 4.0, 4.0, 4.0),
 ('Andhra_Pradesh', 'Anantapur', 'Gulzarpet, Anantapur - APPCB', 'CO', 29.0, 46.0, 40.0),
 ('Andhra_Pradesh', 'Anantapur', 'Gulzarpet, Anantapur - APPCB', 'OZONE', 7.0, 44.0, 31.0),
 ('Andhra_Pradesh', 'Chittoor', 'Gangineni Cheruvu, Chittoor - APPCB', 'NO2', 8.0, 9.0, 9.0),
 ('Andhra_Pradesh', 'Kadapa', 'Yerramukkapalli, Kadapa - APPCB', 'NO2', None, None, None),
 ('Andhra_Pradesh', 'Kadapa', 'Yerramukkapalli, Kadapa - APPCB', 'NH3', None, None, None),
 ('Andhra_Pradesh', 'Rajamahendravaram', 'Anand Kala Kshetram, Rajamahendravaram - APPCB', 'PM2.5', 27.0, 46.0, 35.0),
 ('Andhra_Pradesh', 'Tirupati', 'Tirumala, Tirupati - APPCB', 'NH3', 1.0, 2.0, 1.0),
 ('Andhra_Pradesh', 'Tirupati', 'Vaikuntapuram, Tirupati - APPCB', 'PM2.5', None, None, None),
 ('Andhra_Pradesh', 'Vijayawada', 'HB Colony, Vijayawada - APPCB', 'PM10', None, None, None),
 ('Andhra_Pradesh', 'Vijayawada', 'Kanuru, Vijayawada - APPCB', 'OZONE', None, None, None),
 ('Andhra_Pradesh', 'Vijayawada', 'Rajiv Gandhi Park, Vijayawada - APPCB', 'NH3', None, None, None),
 ('Andhra_Pradesh', 'Visakhapatnam', 'GVM Corporation, Visakhapatnam - APPCB', 'SO2', 3.0, 11.0, 7.0),
 ('Arunachal_Pradesh', 'Naharlagun', 'Naharlagun, Naharlagun - APSPCB', 'SO2', 5.0, 5.0, 5.0),
 ('Assam', 'Byrnihat', 'Central Academy for SFS, Byrnihat - PCBA', 'SO2', None, None, None),
 ('Assam', 'Guwahati', 'LGBI Airport, Guwahati - PCBA', 'OZONE', 9.0, 24.0, 18.0),
 ('Assam', 'Guwahati', 'Railway Colony, Guwahati - PCBA', 'PM10', 39.0, 141.0, 67.0),
 ('Assam', 'Nagaon', 'Christianpatty, Nagaon - PCBA', 'PM10', 11.0, 185.0, 52.0),
 ('Assam', 'Nagaon', 'Christianpatty, Nagaon - PCBA', 'NH3', 1.0, 19.0, 2.0),
 ('Assam', 'Nagaon', 'Christianpatty, Nagaon - PCBA', 'CO', 44.0, 72.0, 50.0),
 ('Assam', 'Nalbari', 'Bata Chowk, Nalbari - PCBA', 'SO2', 2.0, 25.0, 6.0),
 ('Assam', 'Nalbari', 'Bata Chowk, Nalbari - PCBA', 'OZONE', 13.0, 18.0, 15.0)]

In [200]:
%%sql
SELECT * FROM nor_currentdf LIMIT 15;

 * sqlite:///project.db
Done.

[('Secretariat, Amaravati - APPCB', 'PM2.5', None, None, None),
 ('Secretariat, Amaravati - APPCB', 'NO2', 4.0, 19.0, 9.0),
 ('Secretariat, Amaravati - APPCB', 'SO2', 15.0, 19.0, 17.0),
 ('Gulzarpet, Anantapur - APPCB', 'NH3', 4.0, 4.0, 4.0),
 ('Gulzarpet, Anantapur - APPCB', 'CO', 29.0, 46.0, 40.0),
 ('Gulzarpet, Anantapur - APPCB', 'OZONE', 7.0, 44.0, 31.0),
 ('Gangineni Cheruvu, Chittoor - APPCB', 'NO2', 8.0, 9.0, 9.0),
 ('Yerramukkapalli, Kadapa - APPCB', 'NO2', None, None, None),
 ('Yerramukkapalli, Kadapa - APPCB', 'NH3', None, None, None),
 ('Anand Kala Kshetram, Rajamahendravaram - APPCB', 'PM2.5', 27.0, 46.0, 35.0),
 ('Tirumala, Tirupati - APPCB', 'NH3', 1.0, 2.0, 1.0),
 ('Vaikuntapuram, Tirupati - APPCB', 'PM2.5', None, None, None),
 ('HB Colony, Vijayawada - APPCB', 'PM10', None, None, None),
 ('Kanuru, Vijayawada - APPCB', 'OZONE', None, None, None),
 ('Rajiv Gandhi Park, Vijayawada - APPCB', 'NH3', None, None, None)]

In [201]:
%%sql
SELECT * FROM state_city LIMIT 15;

 * sqlite:///project.db
Done.

[('Amaravati', 'Andhra_Pradesh'),
 ('Anantapur', 'Andhra_Pradesh'),
 ('Chittoor', 'Andhra_Pradesh'),
 ('Kadapa', 'Andhra_Pradesh'),
 ('Rajamahendravaram', 'Andhra_Pradesh'),
 ('Tirupati', 'Andhra_Pradesh'),
 ('Vijayawada', 'Andhra_Pradesh'),
 ('Visakhapatnam', 'Andhra_Pradesh'),
 ('Naharlagun', 'Arunachal_Pradesh'),
 ('Byrnihat', 'Assam'),
 ('Guwahati', 'Assam'),
 ('Nagaon', 'Assam'),
 ('Nalbari', 'Assam'),
 ('Silchar', 'Assam'),
 ('Sivasagar', 'Assam')]

In [202]:
%%sql
SELECT * FROM city_station LIMIT 15;

 * sqlite:///project.db
Done.

[('Amaravati', 'Secretariat, Amaravati - APPCB'),
 ('Anantapur', 'Gulzarpet, Anantapur - APPCB'),
 ('Chittoor', 'Gangineni Cheruvu, Chittoor - APPCB'),
 ('Kadapa', 'Yerramukkapalli, Kadapa - APPCB'),
 ('Rajamahendravaram', 'Anand Kala Kshetram, Rajamahendravaram - APPCB'),
 ('Tirupati', 'Tirumala, Tirupati - APPCB'),
 ('Tirupati', 'Vaikuntapuram, Tirupati - APPCB'),
 ('Vijayawada', 'HB Colony, Vijayawada - APPCB'),
 ('Vijayawada', 'Kanuru, Vijayawada - APPCB'),
 ('Vijayawada', 'Rajiv Gandhi Park, Vijayawada - APPCB'),
 ('Visakhapatnam', 'GVM Corporation, Visakhapatnam - APPCB'),
 ('Naharlagun', 'Naharlagun, Naharlagun - APSPCB'),
 ('Byrnihat', 'Central Academy for SFS, Byrnihat - PCBA'),
 ('Guwahati', 'LGBI Airport, Guwahati - PCBA'),
 ('Guwahati', 'Railway Colony, Guwahati - PCBA')]

SO THE DATA IS NORMALIZED TO 3NF

In [203]:
mod_df_2021 = df_2021.drop(columns=['city'])
display(mod_df_2021.head())

            state  SO2 Average  NO2 Average  PM10 Average  PM2.5 Average
0  Andhra_Pradesh         14.0         12.0          55.0           28.0
1  Andhra_Pradesh          7.0         16.0          64.0           30.0
2  Andhra_Pradesh          5.0         14.0          46.0           25.0
3  Andhra_Pradesh          5.0         17.0          63.0           30.0
4  Andhra_Pradesh          5.0         17.0          60.0           29.0

In [204]:
mod_df_2021 = mod_df_2021.groupby('state').mean().reset_index()
display(mod_df_2021.head())

               state  SO2 Average  NO2 Average  PM10 Average  PM2.5 Average
0     Andhra_Pradesh     7.125000    17.562500     63.000000      28.250000
1  Arunachal_Pradesh    15.000000     5.500000     60.500000      15.000000
2              Assam     7.538462    12.076923     63.461538      46.333333
3              Bihar     7.500000    19.250000    129.750000      66.250000
4    Chandigarh_(UT)     6.000000    24.000000     98.000000      49.000000

In [205]:
mod_df_2022 = df_2022.drop(columns=['city'])
display(mod_df_2022.head())

            state  SO2 Average  NO2 Average  PM10 Average  PM2.5 Average
0  Andhra_Pradesh         12.0         10.0          54.0           30.0
1  Andhra_Pradesh          6.0         19.0          61.0           32.0
2  Andhra_Pradesh          5.0         13.0          55.0           31.0
3  Andhra_Pradesh          5.0         18.0          67.0           31.0
4  Andhra_Pradesh          4.0         17.0          60.0           23.0

In [206]:
mod_df_2022 = mod_df_2022.groupby('state').mean().reset_index()
display(mod_df_2022.head())

               state  SO2 Average  NO2 Average  PM10 Average  PM2.5 Average
0     Andhra_Pradesh     6.875000       17.875     64.750000      28.937500
1  Arunachal_Pradesh    15.000000       11.500     57.500000      23.000000
2              Assam     6.642857       12.500     71.357143      33.846154
3              Bihar     7.560000       36.200    176.840000      84.600000
4    Chandigarh_(UT)     7.000000       27.000    113.000000      57.000000

In [207]:
polinfo_df=currentdf.value_counts('pollutant_id')
display(polinfo_df)

pollutant_id
PM10     487
PM2.5    486
CO       484
NO2      484
SO2      475
OZONE    472
NH3      433
Name: count, dtype: int64

In [208]:
#removed CO, OZONE, NH3 (noisy data)
mod_cur_df = currentdf[(currentdf["pollutant_id"] != "CO") & (currentdf["pollutant_id"] != "OZONE") & (currentdf["pollutant_id"] != "NH3")]
mod_cur_df.reset_index()
display(mod_cur_df.head())

,state,city,station,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",PM2.5,NaN,NaN,NaN
1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",NO2,4.0,19.0,9.0
2,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",SO2,15.0,19.0,17.0
6,Andhra_Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",NO2,8.0,9.0,9.0
7,Andhra_Pradesh,Kadapa,"Yerramukkapalli, Kadapa - APPCB",NO2,NaN,NaN,NaN

In [209]:
#removed noisy columns
mod_cur_df.drop(columns=['pollutant_min', 'pollutant_max'], inplace=True)
display(mod_cur_df.head())

C:\Users\vishn\AppData\Local\Temp\ipykernel_7924\4263692659.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mod_cur_df.drop(columns=['pollutant_min', 'pollutant_max'], inplace=True)

,state,city,station,pollutant_id,pollutant_avg
0,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",PM2.5,NaN
1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",NO2,9.0
2,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",SO2,17.0
6,Andhra_Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",NO2,9.0
7,Andhra_Pradesh,Kadapa,"Yerramukkapalli, Kadapa - APPCB",NO2,NaN

In [210]:
mod_cur_df = mod_cur_df[['state', 'pollutant_id', 'pollutant_avg']].groupby(['state', 'pollutant_id']).mean()
display(mod_cur_df)

                                pollutant_avg
state             pollutant_id
Andhra_Pradesh    NO2               15.857143
                  PM10              61.600000
                  PM2.5             49.250000
                  SO2                9.833333
Arunachal_Pradesh NO2                3.000000
...                                       ...
Uttarakhand       SO2                5.000000
West_Bengal       NO2               25.684211
                  PM10              37.666667
                  PM2.5             30.333333
                  SO2                8.571429

[123 rows x 1 columns]

In [211]:
mod_cur_df = mod_cur_df.unstack()
display(mod_cur_df.head())

                  pollutant_avg
pollutant_id                NO2       PM10      PM2.5        SO2
state
Andhra_Pradesh        15.857143  61.600000  49.250000   9.833333
Arunachal_Pradesh      3.000000  32.000000  27.000000   5.000000
Assam                  8.333333  57.833333  57.800000   6.500000
Bihar                 13.206897  45.523810  32.333333  10.034483
Chandigarh_(UT)       18.000000  59.000000  40.000000   9.000000

In [212]:
mod_cur_df.reset_index()
mod_cur_df.columns=['NO2 Average', 'PM10 Average', 'PM2.5 Average', 'SO2 Average']
mod_cur_df.dropna(inplace=True)
mod_cur_df.reset_index(inplace=True)
display(mod_cur_df)

                state  NO2 Average  PM10 Average  PM2.5 Average  SO2 Average
0      Andhra_Pradesh    15.857143     61.600000      49.250000     9.833333
1   Arunachal_Pradesh     3.000000     32.000000      27.000000     5.000000
2               Assam     8.333333     57.833333      57.800000     6.500000
3               Bihar    13.206897     45.523810      32.333333    10.034483
4     Chandigarh_(UT)    18.000000     59.000000      40.000000     9.000000
5         Chattisgarh    12.727273     38.636364      27.900000     9.846154
6          Delhi_(UT)    36.166667    134.694444      85.085714    13.032258
7             Gujarat    25.454545     72.090909      60.000000    11.636364
8             Haryana    19.347826     76.578947      68.318182    17.260870
9    Himachal_Pradesh    18.000000     81.000000      59.000000    21.000000
10          Karnataka    16.617647     40.648649      28.828571    13.027027
11             Kerala    12.750000     40.500000      30.000000     6.000000
12     Madhya_Pradesh    17.833333     72.666667      44.217391    21.192308
13        Maharashtra    20.089744     63.025641      41.763158     8.000000
14            Manipur     7.000000     19.000000      12.000000   102.000000
15           Nagaland     3.000000     44.000000      44.000000    49.000000
16             Odisha    15.000000     39.437500      27.666667    11.066667
17    Puducherry_(UT)    13.000000     44.000000      27.000000    10.000000
18             Punjab    21.625000     88.571429      63.428571    14.375000
19          Rajasthan    15.711111     90.377778      48.111111     7.244444
20          TamilNadu    13.100000     43.086957      32.000000    13.142857
21          Telangana    18.416667     60.400000      37.333333    13.727273
22      Uttar_Pradesh    18.212766     91.276596      59.456522    19.062500
23        Uttarakhand     7.333333     48.666667      31.666667     5.000000
24        West_Bengal    25.684211     37.666667      30.333333     8.571429

In [213]:
mod_cur_df.to_sql('mod_cur_df', conn, if_exists='replace', index=False)
mod_df_2021.to_sql('mod_df_2021', conn, if_exists='replace', index=False)
mod_df_2022.to_sql('mod_df_2022', conn, if_exists='replace', index=False)
conn.commit()
display(pd.read_sql_query('SELECT * FROM mod_cur_df', conn).head())
display(pd.read_sql_query('SELECT * FROM mod_df_2021', conn).head())
display(pd.read_sql_query('SELECT * FROM mod_df_2022', conn).head())

               state  NO2 Average  PM10 Average  PM2.5 Average  SO2 Average
0     Andhra_Pradesh    15.857143     61.600000      49.250000     9.833333
1  Arunachal_Pradesh     3.000000     32.000000      27.000000     5.000000
2              Assam     8.333333     57.833333      57.800000     6.500000
3              Bihar    13.206897     45.523810      32.333333    10.034483
4    Chandigarh_(UT)    18.000000     59.000000      40.000000     9.000000

               state  SO2 Average  NO2 Average  PM10 Average  PM2.5 Average
0     Andhra_Pradesh     7.125000    17.562500     63.000000      28.250000
1  Arunachal_Pradesh    15.000000     5.500000     60.500000      15.000000
2              Assam     7.538462    12.076923     63.461538      46.333333
3              Bihar     7.500000    19.250000    129.750000      66.250000
4    Chandigarh_(UT)     6.000000    24.000000     98.000000      49.000000

               state  SO2 Average  NO2 Average  PM10 Average  PM2.5 Average
0     Andhra_Pradesh     6.875000       17.875     64.750000      28.937500
1  Arunachal_Pradesh    15.000000       11.500     57.500000      23.000000
2              Assam     6.642857       12.500     71.357143      33.846154
3              Bihar     7.560000       36.200    176.840000      84.600000
4    Chandigarh_(UT)     7.000000       27.000    113.000000      57.000000

In [214]:
display(pd.read_sql_query("SELECT state FROM mod_cur_df WHERE state NOT IN (SELECT state FROM mod_df_2021);", conn))
display(pd.read_sql_query("SELECT state FROM mod_df_2021 WHERE state NOT IN (SELECT state FROM mod_cur_df);", conn))

Empty DataFrame
Columns: [state]
Index: []

                                        state
0  Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)
1                                         Goa
2                        Jammu_&_Kashmir_(UT)
3                                   Jharkhand
4                                   Meghalaya
5                                     Mizoram
6                                      Sikkim
7                                     Tripura

info related to all states of mod_cur_df is available in mod_df_2021, mod_df_2022.
But not vice versa.
We can only work with the data which is available from all three dataframes

In [215]:
#removing unwanted records
c.execute("DELETE FROM mod_df_2021 WHERE state NOT IN (SELECT state FROM mod_cur_df);")
c.execute("DELETE FROM mod_df_2022 WHERE state NOT IN (SELECT state FROM mod_cur_df);")
conn.commit()
mod_df_2021 = pd.read_sql_query('SELECT * FROM mod_df_2021', conn)
mod_df_2022 = pd.read_sql_query('SELECT * FROM mod_df_2022', conn)

In [216]:
display(mod_cur_df)
display(mod_df_2021)
display(mod_df_2022)

                state  NO2 Average  PM10 Average  PM2.5 Average  SO2 Average
0      Andhra_Pradesh    15.857143     61.600000      49.250000     9.833333
1   Arunachal_Pradesh     3.000000     32.000000      27.000000     5.000000
2               Assam     8.333333     57.833333      57.800000     6.500000
3               Bihar    13.206897     45.523810      32.333333    10.034483
4     Chandigarh_(UT)    18.000000     59.000000      40.000000     9.000000
5         Chattisgarh    12.727273     38.636364      27.900000     9.846154
6          Delhi_(UT)    36.166667    134.694444      85.085714    13.032258
7             Gujarat    25.454545     72.090909      60.000000    11.636364
8             Haryana    19.347826     76.578947      68.318182    17.260870
9    Himachal_Pradesh    18.000000     81.000000      59.000000    21.000000
10          Karnataka    16.617647     40.648649      28.828571    13.027027
11             Kerala    12.750000     40.500000      30.000000     6.000000
12     Madhya_Pradesh    17.833333     72.666667      44.217391    21.192308
13        Maharashtra    20.089744     63.025641      41.763158     8.000000
14            Manipur     7.000000     19.000000      12.000000   102.000000
15           Nagaland     3.000000     44.000000      44.000000    49.000000
16             Odisha    15.000000     39.437500      27.666667    11.066667
17    Puducherry_(UT)    13.000000     44.000000      27.000000    10.000000
18             Punjab    21.625000     88.571429      63.428571    14.375000
19          Rajasthan    15.711111     90.377778      48.111111     7.244444
20          TamilNadu    13.100000     43.086957      32.000000    13.142857
21          Telangana    18.416667     60.400000      37.333333    13.727273
22      Uttar_Pradesh    18.212766     91.276596      59.456522    19.062500
23        Uttarakhand     7.333333     48.666667      31.666667     5.000000
24        West_Bengal    25.684211     37.666667      30.333333     8.571429

                state  SO2 Average  NO2 Average  PM10 Average  PM2.5 Average
0      Andhra_Pradesh     7.125000    17.562500     63.000000      28.250000
1   Arunachal_Pradesh    15.000000     5.500000     60.500000      15.000000
2               Assam     7.538462    12.076923     63.461538      46.333333
3               Bihar     7.500000    19.250000    129.750000      66.250000
4     Chandigarh_(UT)     6.000000    24.000000     98.000000      49.000000
5         Chattisgarh     9.000000    16.000000     64.000000      30.500000
6          Delhi_(UT)    10.000000    42.000000    207.000000     107.000000
7             Gujarat    17.000000    23.916667    110.750000      40.916667
8             Haryana    12.583333    25.250000    162.000000      71.041667
9    Himachal_Pradesh     2.272727     8.454545     71.818182      28.454545
10          Karnataka    10.884615    15.807692     53.384615      25.240000
11             Kerala     5.214286    10.714286     49.071429      27.818182
12     Madhya_Pradesh    13.444444    20.947368     94.000000      40.368421
13        Maharashtra    15.333333    31.791667     86.920000      43.400000
14            Manipur     6.000000    26.000000    123.000000      48.000000
15           Nagaland    11.000000     5.000000     82.500000      33.000000
16             Odisha     8.000000    16.235294     92.588235      41.285714
17    Puducherry_(UT)     4.500000     8.000000     41.500000      20.000000
18             Punjab     7.303030    17.121212    102.909091      53.875000
19          Rajasthan    11.300000    27.700000    138.500000      63.000000
20          TamilNadu     9.588235    16.529412     49.647059      22.588235
21          Telangana     6.636364    35.181818     77.181818      47.714286
22      Uttar_Pradesh    13.148148    28.259259    175.037037      83.714286
23        Uttarakhand    16.333333    23.166667    125.666667      69.200000
24        West_Bengal     7.073171    28.536585     97.902439      56.100000

                state  SO2 Average  NO2 Average  PM10 Average  PM2.5 Average
0      Andhra_Pradesh     6.875000    17.875000     64.750000      28.937500
1   Arunachal_Pradesh    15.000000    11.500000     57.500000      23.000000
2               Assam     6.642857    12.500000     71.357143      33.846154
3               Bihar     7.560000    36.200000    176.840000      84.600000
4     Chandigarh_(UT)     7.000000    27.000000    113.000000      57.000000
5         Chattisgarh    10.200000    15.600000     65.600000      28.750000
6          Delhi_(UT)     9.000000    41.000000    207.000000      98.000000
7             Gujarat    19.200000    21.300000    104.200000      44.400000
8             Haryana    11.875000    21.583333    150.090909      68.166667
9    Himachal_Pradesh     3.727273     8.727273     67.090909      28.181818
10          Karnataka    13.629630    15.333333     59.555556      26.625000
11             Kerala     3.600000    12.333333     52.466667      31.090909
12     Madhya_Pradesh    13.388889    23.789474     97.210526      39.947368
13        Maharashtra    17.307692    34.000000     90.000000      50.090909
14            Manipur    51.000000     8.000000     37.000000      12.000000
15           Nagaland    21.500000     5.500000     81.000000      27.000000
16             Odisha     8.882353    16.823529     93.058824      40.071429
17    Puducherry_(UT)     5.500000     8.000000     46.500000      25.000000
18             Punjab     7.542857    18.685714     97.314286      50.750000
19          Rajasthan    11.300000    30.400000    138.100000      60.500000
20          TamilNadu    17.640000    16.416667     53.653846      23.500000
21          Telangana     7.818182    30.000000     76.272727      39.285714
22      Uttar_Pradesh    15.965517    26.413793    153.862069      62.500000
23        Uttarakhand    14.666667    21.333333    124.000000      55.500000
24        West_Bengal     7.302326    28.581395     98.000000      49.222222

In [217]:
states(mod_cur_df, mod_df_2021, mod_df_2022)

['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Delhi_(UT)', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'TamilNadu', 'Telangana', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Delhi_(UT)', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'TamilNadu', 'Telangana', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Delhi_(UT)', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'TamilNadu', 'Telangana', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
True
True

Now the data is ready to be used for analysis.