In [2]:
import pandas as pd

In [3]:
currentdf = pd.read_csv('real_time_air_quality_index.csv')
display(currentdf)

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,PM2.5,NaN,NaN,NaN
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,NO2,4.0,19.0,9.0
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,SO2,15.0,19.0,17.0
3,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",16-09-2024 18:00:00,14.675886,77.593027,NH3,4.0,4.0,4.0
4,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",16-09-2024 18:00:00,14.675886,77.593027,CO,29.0,46.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...
3316,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",16-09-2024 18:00:00,22.627847,88.380669,OZONE,8.0,42.0,35.0
3317,India,West_Bengal,Kolkata,"Rabindra Sarobar, Kolkata - WBPCB",16-09-2024 18:00:00,22.511060,88.351420,CO,14.0,25.0,20.0
3318,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",16-09-2024 18:00:00,22.544808,88.340369,SO2,4.0,6.0,6.0
3319,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",16-09-2024 18:00:00,26.687923,88.415250,NO2,20.0,27.0,22.0
3320,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",16-09-2024 18:00:00,26.687923,88.415250,OZONE,13.0,15.0,14.0

In [4]:
df_2022 = pd.read_csv('data_2022.csv')
display(df_2022)

,Sr.No.,State / Union Territory,City / town,SO2 Annual Average,NO2 Annual Average,PM10 Annual Average,PM2.5 Annual Average
0,1,Andhra Pradesh,Amaravati,12,10,54,30
1,2,Andhra Pradesh,Anatapur,6,19,61,32
2,3,Andhra Pradesh,Chittor,5,13,55,31
3,4,Andhra Pradesh,Eluru,5,18,67,31
4,5,Andhra Pradesh,Guntur,4,17,60,23
...,...,...,...,...,...,...,...
430,431,West Bengal,Suri,2,15,15,NM
431,432,West Bengal,Tamluk,13,36,123,NM
432,433,West Bengal,Tribeni,3,23,83,NM
433,434,West Bengal,Uluberia,13,38,126,-
434,435,West Bengal,Uttarpara,2,22,82,NM

In [5]:
df_2022.rename(columns={'State / Union Territory':'state', 'City / town':'city', 'SO2 Annual Average':'SO2 Average'}, inplace=True)
df_2022.rename(columns={'NO2 Annual Average':'NO2 Average', 'PM10 Annual Average':'PM10 Average', 'PM2.5 Annual Average':'PM2.5 Average'}, inplace=True)
df_2022.drop(columns='Sr.No.', inplace=True)
df_2022.index.name = 'index'
display(df_2022)

,state,city,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
index,,,,,,
0,Andhra Pradesh,Amaravati,12,10,54,30
1,Andhra Pradesh,Anatapur,6,19,61,32
2,Andhra Pradesh,Chittor,5,13,55,31
3,Andhra Pradesh,Eluru,5,18,67,31
4,Andhra Pradesh,Guntur,4,17,60,23
...,...,...,...,...,...,...
430,West Bengal,Suri,2,15,15,NM
431,West Bengal,Tamluk,13,36,123,NM
432,West Bengal,Tribeni,3,23,83,NM
433,West Bengal,Uluberia,13,38,126,-
434,West Bengal,Uttarpara,2,22,82,NM

In [6]:
df_2021 = pd.read_csv('data_2021.csv', skiprows=2)
display(df_2021)

,State / Union Territory,City / town / village,Annual Average SO2,Annual Average NO2,Annual Average PM10,Annual Average PM2.5
0,Andhra Pradesh,Amaravati,14,12,55,28
1,Andhra Pradesh,Anatapur,7,16,64,30
2,Andhra Pradesh,Chittor,5,14,46,25
3,Andhra Pradesh,Eluru,5,17,63,30
4,Andhra Pradesh,Guntur,5,17,60,29
...,...,...,...,...,...,...
392,West Bengal,Siliguri,5,35,105,59
393,West Bengal,Suri,2,31,77,-
394,West Bengal,Tamluk,13,38,124,-
395,West Bengal,Tribeni,2,20,86,-
396,West Bengal,Uluberia,13,41,115,-

In [7]:
df_2021.rename(columns={'State / Union Territory ':'state', 'City / town / village ':'city', 'Annual Average SO2':'SO2 Average'}, inplace=True)
df_2021.rename(columns={'Annual Average NO2':'NO2 Average', 'Annual Average PM10':'PM10 Average', 'Annual Average PM2.5':'PM2.5 Average'}, inplace=True)
df_2021.index.name = 'index'
display(df_2021)

,state,city,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
index,,,,,,
0,Andhra Pradesh,Amaravati,14,12,55,28
1,Andhra Pradesh,Anatapur,7,16,64,30
2,Andhra Pradesh,Chittor,5,14,46,25
3,Andhra Pradesh,Eluru,5,17,63,30
4,Andhra Pradesh,Guntur,5,17,60,29
...,...,...,...,...,...,...
392,West Bengal,Siliguri,5,35,105,59
393,West Bengal,Suri,2,31,77,-
394,West Bengal,Tamluk,13,38,124,-
395,West Bengal,Tribeni,2,20,86,-
396,West Bengal,Uluberia,13,41,115,-

In [8]:
df_2021 = df_2021.drop(columns=['city'])
display(df_2021)

                 state SO2 Average NO2 Average PM10 Average PM2.5 Average
index
0      Andhra Pradesh           14          12           55            28
1      Andhra Pradesh            7          16           64            30
2      Andhra Pradesh            5          14           46            25
3      Andhra Pradesh            5          17           63            30
4      Andhra Pradesh            5          17           60            29
...                ...         ...         ...          ...           ...
392       West Bengal            5          35          105            59
393       West Bengal            2          31           77            -
394       West Bengal           13          38          124            -
395       West Bengal            2          20           86            -
396       West Bengal           13          41          115            -

[397 rows x 5 columns]

In [9]:
numeric_cols = ['SO2 Average', 'NO2 Average', 'PM10 Average', 'PM2.5 Average']
df_2021[numeric_cols] = df_2021[numeric_cols].apply(pd.to_numeric, errors='coerce')
df_2021 = df_2021.groupby('state').mean().reset_index()
df_2021.index.name = 'index'
display(df_2021)

,state,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
index,,,,,
0,Andhra Pradesh,7.125000,17.562500,63.000000,28.250000
1,Arunachal Pradesh,15.000000,5.500000,60.500000,15.000000
2,Assam,7.538462,12.076923,63.461538,46.333333
3,Bihar,7.500000,19.250000,129.750000,66.250000
4,Chandigarh (UT),6.000000,24.000000,98.000000,49.000000
5,Chattisgarh,9.000000,16.000000,64.000000,30.500000
6,Dadara & Nagar Haveli and Daman & Diu (UT),15.000000,20.000000,84.000000,30.000000
7,Delhi (UT),10.000000,42.000000,207.000000,107.000000
8,Goa,6.187500,13.437500,61.562500,27.937500
9,Gujara,13.000000,17.000000,120.000000,27.000000
10,Gujarat,17.363636,24.545455,109.909091,42.181818
11,Haryana,12.583333,25.250000,162.000000,71.041667
12,Himachal Pradesh,2.272727,8.454545,71.818182,28.454545
13,Jammu & Kashmir (UT),6.000000,16.333333,132.333333,31.500000
14,Jharkhand,21.000000,32.125000,155.750000,105.000000
15,Karnataka,10.884615,15.807692,53.384615,25.240000
16,Kerala,5.214286,10.714286,49.071429,27.818182
17,Madhya Pradesh,13.444444,20.947368,94.000000,40.368421
18,Maharashtra,15.333333,31.791667,86.920000,43.400000
19,Manipur,6.000000,26.000000,123.000000,48.000000
20,Meghalaya,6.166667,8.428571,72.142857,11.714286
21,Mizoram,2.800000,5.100000,33.800000,19.500000
22,Nagaland,11.000000,5.000000,82.500000,33.000000
23,Odisha,8.000000,16.235294,92.588235,41.285714
24,Pondicherry (UT),4.500000,8.000000,41.500000,20.000000
25,Punjab,10.000000,21.000000,122.000000,63.000000
26,Punjab,7.218750,17.000000,102.312500,52.571429
27,Rajasthan,11.300000,27.700000,138.500000,63.000000
28,Sikkim,5.625000,7.000000,35.125000,31.000000
29,Tamilnadu,9.588235,16.529412,49.647059,22.588235
30,Telangana,6.636364,35.181818,77.181818,47.714286
31,Tripura,19.000000,9.000000,82.000000,50.000000
32,Uttar Pradesh,13.148148,28.259259,175.037037,83.714286
33,Uttarakhand,16.333333,23.166667,125.666667,69.200000
34,West Bengal,7.073171,28.536585,97.902439,56.100000

In [10]:
df_2022 = df_2022.drop(columns=['city'])
display(df_2022)

                state SO2 Average NO2 Average PM10 Average PM2.5 Average
index
0      Andhra Pradesh          12          10           54            30
1      Andhra Pradesh           6          19           61            32
2      Andhra Pradesh           5          13           55            31
3      Andhra Pradesh           5          18           67            31
4      Andhra Pradesh           4          17           60            23
...               ...         ...         ...          ...           ...
430       West Bengal           2          15           15            NM
431       West Bengal          13          36          123            NM
432       West Bengal           3          23           83            NM
433       West Bengal          13          38          126             -
434       West Bengal           2          22           82            NM

[435 rows x 5 columns]

In [11]:
numeric_cols = ['SO2 Average', 'NO2 Average', 'PM10 Average', 'PM2.5 Average']
df_2022[numeric_cols] = df_2022[numeric_cols].apply(pd.to_numeric, errors='coerce')
df_2022 = df_2022.groupby('state').mean().reset_index()
df_2022.index.name = 'index'
display(df_2022)

,state,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
index,,,,,
0,Andhra Pradesh,6.875000,17.875000,64.750000,28.937500
1,Arunachal Pradesh,15.000000,11.500000,57.500000,23.000000
2,Assam,6.642857,12.500000,71.357143,33.846154
3,Bihar,7.560000,36.200000,176.840000,84.600000
4,Chandigarh (UT),7.000000,27.000000,113.000000,57.000000
5,Chattisgarh,10.200000,15.600000,65.600000,28.750000
6,Dadara & Nagar Haveli and Daman & Diu (UT),17.250000,22.250000,75.500000,30.000000
7,Delhi (UT),9.000000,41.000000,207.000000,98.000000
8,Goa,6.062500,13.375000,57.187500,27.428571
9,Gujarat,19.200000,21.300000,104.200000,44.400000
10,Haryana,11.875000,21.583333,150.090909,68.166667
11,Himachal Pradesh,3.727273,8.727273,67.090909,28.181818
12,Jammu & Kashmir (UT),12.500000,19.000000,139.250000,29.250000
13,Jharkhand,20.125000,32.000000,152.375000,NaN
14,Karnataka,13.629630,15.333333,59.555556,26.625000
15,Kerala,3.600000,12.333333,52.466667,31.090909
16,Madhya Pradesh,13.388889,23.789474,97.210526,39.947368
17,Maharashtra,17.307692,34.000000,90.000000,50.090909
18,Manipur,51.000000,8.000000,37.000000,12.000000
19,Meghalaya,8.142857,11.428571,63.285714,27.857143
20,Mizoram,2.875000,4.875000,25.250000,10.000000
21,Nagaland,21.500000,5.500000,81.000000,27.000000
22,Odisha,8.882353,16.823529,93.058824,40.071429
23,Pondicherry (UT),5.500000,8.000000,46.500000,25.000000
24,Punjab,7.542857,18.685714,97.314286,50.750000
25,Rajasthan,11.300000,30.400000,138.100000,60.500000
26,Sikkim,5.125000,6.000000,37.500000,13.000000
27,Tamilnadu,17.640000,16.416667,53.653846,23.500000
28,Telangana,7.818182,30.000000,76.272727,39.285714
29,Tripura,31.000000,11.000000,94.000000,53.000000
30,Uttar Pradesh,15.965517,26.413793,153.862069,62.500000
31,Uttarakhand,14.666667,21.333333,124.000000,55.500000
32,West Bengal,7.302326,28.581395,98.000000,49.222222

In [12]:
polinfo_df=currentdf.value_counts('pollutant_id')
display(polinfo_df)

pollutant_id
PM10     487
PM2.5    486
NO2      484
CO       484
SO2      475
OZONE    472
NH3      433
dtype: int64

In [13]:
modified_current_df = currentdf[(currentdf["pollutant_id"] != "CO") & (currentdf["pollutant_id"] != "OZONE") & (currentdf["pollutant_id"] != "NH3")]
modified_current_df.reset_index(inplace=True, drop=True)
modified_current_df.index.name = 'index'
display(modified_current_df)

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
index,,,,,,,,,,,
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,PM2.5,NaN,NaN,NaN
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,NO2,4.0,19.0,9.0
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.515083,80.518167,SO2,15.0,19.0,17.0
3,India,Andhra_Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",16-09-2024 18:00:00,13.204880,79.097889,NO2,8.0,9.0,9.0
4,India,Andhra_Pradesh,Kadapa,"Yerramukkapalli, Kadapa - APPCB",16-09-2024 18:00:00,14.465052,78.824187,NO2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1927,India,West_Bengal,Kolkata,"Jadavpur, Kolkata - WBPCB",16-09-2024 18:00:00,22.499290,88.369170,PM2.5,13.0,35.0,24.0
1928,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",16-09-2024 18:00:00,22.627847,88.380669,PM2.5,9.0,28.0,18.0
1929,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",16-09-2024 18:00:00,22.627847,88.380669,PM10,16.0,42.0,28.0
1930,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",16-09-2024 18:00:00,22.544808,88.340369,SO2,4.0,6.0,6.0
1931,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",16-09-2024 18:00:00,26.687923,88.415250,NO2,20.0,27.0,22.0

In [14]:
modified_current_df.drop(columns=['pollutant_min', 'pollutant_max', 'latitude', 'longitude', 'last_update', 'country'], inplace=True)
display(modified_current_df)

c:\Users\moury\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,state,city,station,pollutant_id,pollutant_avg
index,,,,,
0,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",PM2.5,NaN
1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",NO2,9.0
2,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",SO2,17.0
3,Andhra_Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",NO2,9.0
4,Andhra_Pradesh,Kadapa,"Yerramukkapalli, Kadapa - APPCB",NO2,NaN
...,...,...,...,...,...
1927,West_Bengal,Kolkata,"Jadavpur, Kolkata - WBPCB",PM2.5,24.0
1928,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",PM2.5,18.0
1929,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",PM10,28.0
1930,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",SO2,6.0
1931,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",NO2,22.0

In [15]:
modified_current_df = modified_current_df[['state', 'pollutant_id', 'pollutant_avg']].groupby(['state', 'pollutant_id']).mean()
display(modified_current_df)

                                pollutant_avg
state             pollutant_id
Andhra_Pradesh    NO2               15.857143
                  PM10              61.600000
                  PM2.5             49.250000
                  SO2                9.833333
Arunachal_Pradesh NO2                3.000000
...                                       ...
Uttarakhand       SO2                5.000000
West_Bengal       NO2               25.684211
                  PM10              37.666667
                  PM2.5             30.333333
                  SO2                8.571429

[123 rows x 1 columns]

In [16]:
modified_current_df = modified_current_df.unstack()
display(modified_current_df)

                  pollutant_avg
pollutant_id                NO2        PM10      PM2.5         SO2
state
Andhra_Pradesh        15.857143   61.600000  49.250000    9.833333
Arunachal_Pradesh      3.000000   32.000000  27.000000    5.000000
Assam                  8.333333   57.833333  57.800000    6.500000
Bihar                 13.206897   45.523810  32.333333   10.034483
Chandigarh            18.000000   59.000000  40.000000    9.000000
Chhattisgarh          12.727273   38.636364  27.900000    9.846154
Delhi                 36.166667  134.694444  85.085714   13.032258
Gujarat               25.454545   72.090909  60.000000   11.636364
Haryana               19.347826   76.578947  68.318182   17.260870
Himachal Pradesh      18.000000   81.000000  59.000000   21.000000
Jammu_and_Kashmir           NaN         NaN        NaN         NaN
Jharkhand                   NaN         NaN        NaN         NaN
Karnataka             16.617647   40.648649  28.828571   13.027027
Kerala                12.750000   40.500000  30.000000    6.000000
Madhya Pradesh        17.833333   72.666667  44.217391   21.192308
Maharashtra           20.089744   63.025641  41.763158    8.000000
Manipur                7.000000   19.000000  12.000000  102.000000
Meghalaya              1.000000         NaN        NaN    3.000000
Mizoram                2.000000   34.000000        NaN    3.000000
Nagaland               3.000000   44.000000  44.000000   49.000000
Odisha                15.000000   39.437500  27.666667   11.066667
Puducherry            13.000000   44.000000  27.000000   10.000000
Punjab                21.625000   88.571429  63.428571   14.375000
Rajasthan             15.711111   90.377778  48.111111    7.244444
Sikkim                      NaN         NaN        NaN         NaN
TamilNadu             13.100000   43.086957  32.000000   13.142857
Telangana             18.416667   60.400000  37.333333   13.727273
Tripura                     NaN         NaN        NaN         NaN
Uttar_Pradesh         18.212766   91.276596  59.456522   19.062500
Uttarakhand            7.333333   48.666667  31.666667    5.000000
West_Bengal           25.684211   37.666667  30.333333    8.571429

In [17]:
modified_current_df.reset_index()
modified_current_df.columns=['NO2 Average', 'PM10 Average', 'PM2.5 Average', 'SO2 Average']
modified_current_df.reset_index(inplace=True)
modified_current_df.index.name = 'index'
display(modified_current_df)

,state,NO2 Average,PM10 Average,PM2.5 Average,SO2 Average
index,,,,,
0,Andhra_Pradesh,15.857143,61.600000,49.250000,9.833333
1,Arunachal_Pradesh,3.000000,32.000000,27.000000,5.000000
2,Assam,8.333333,57.833333,57.800000,6.500000
3,Bihar,13.206897,45.523810,32.333333,10.034483
4,Chandigarh,18.000000,59.000000,40.000000,9.000000
5,Chhattisgarh,12.727273,38.636364,27.900000,9.846154
6,Delhi,36.166667,134.694444,85.085714,13.032258
7,Gujarat,25.454545,72.090909,60.000000,11.636364
8,Haryana,19.347826,76.578947,68.318182,17.260870
9,Himachal Pradesh,18.000000,81.000000,59.000000,21.000000
10,Jammu_and_Kashmir,NaN,NaN,NaN,NaN
11,Jharkhand,NaN,NaN,NaN,NaN
12,Karnataka,16.617647,40.648649,28.828571,13.027027
13,Kerala,12.750000,40.500000,30.000000,6.000000
14,Madhya Pradesh,17.833333,72.666667,44.217391,21.192308
15,Maharashtra,20.089744,63.025641,41.763158,8.000000
16,Manipur,7.000000,19.000000,12.000000,102.000000
17,Meghalaya,1.000000,NaN,NaN,3.000000
18,Mizoram,2.000000,34.000000,NaN,3.000000
19,Nagaland,3.000000,44.000000,44.000000,49.000000
20,Odisha,15.000000,39.437500,27.666667,11.066667
21,Puducherry,13.000000,44.000000,27.000000,10.000000
22,Punjab,21.625000,88.571429,63.428571,14.375000
23,Rajasthan,15.711111,90.377778,48.111111,7.244444
24,Sikkim,NaN,NaN,NaN,NaN
25,TamilNadu,13.100000,43.086957,32.000000,13.142857
26,Telangana,18.416667,60.400000,37.333333,13.727273
27,Tripura,NaN,NaN,NaN,NaN
28,Uttar_Pradesh,18.212766,91.276596,59.456522,19.062500
29,Uttarakhand,7.333333,48.666667,31.666667,5.000000
30,West_Bengal,25.684211,37.666667,30.333333,8.571429

In [27]:
display(modified_current_df)

,state,NO2 Average,PM10 Average,PM2.5 Average,SO2 Average
index,,,,,
0,Andhra_Pradesh,15.857143,61.600000,49.250000,9.833333
1,Arunachal_Pradesh,3.000000,32.000000,27.000000,5.000000
2,Assam,8.333333,57.833333,57.800000,6.500000
3,Bihar,13.206897,45.523810,32.333333,10.034483
4,Chandigarh,18.000000,59.000000,40.000000,9.000000
5,Chhattisgarh,12.727273,38.636364,27.900000,9.846154
6,Delhi,36.166667,134.694444,85.085714,13.032258
7,Gujarat,25.454545,72.090909,60.000000,11.636364
8,Haryana,19.347826,76.578947,68.318182,17.260870
9,Himachal Pradesh,18.000000,81.000000,59.000000,21.000000
10,Jammu_and_Kashmir,NaN,NaN,NaN,NaN
11,Jharkhand,NaN,NaN,NaN,NaN
12,Karnataka,16.617647,40.648649,28.828571,13.027027
13,Kerala,12.750000,40.500000,30.000000,6.000000
14,Madhya Pradesh,17.833333,72.666667,44.217391,21.192308
15,Maharashtra,20.089744,63.025641,41.763158,8.000000
16,Manipur,7.000000,19.000000,12.000000,102.000000
17,Meghalaya,1.000000,NaN,NaN,3.000000
18,Mizoram,2.000000,34.000000,NaN,3.000000
19,Nagaland,3.000000,44.000000,44.000000,49.000000
20,Odisha,15.000000,39.437500,27.666667,11.066667
21,Puducherry,13.000000,44.000000,27.000000,10.000000
22,Punjab,21.625000,88.571429,63.428571,14.375000
23,Rajasthan,15.711111,90.377778,48.111111,7.244444
24,Sikkim,NaN,NaN,NaN,NaN
25,TamilNadu,13.100000,43.086957,32.000000,13.142857
26,Telangana,18.416667,60.400000,37.333333,13.727273
27,Tripura,NaN,NaN,NaN,NaN
28,Uttar_Pradesh,18.212766,91.276596,59.456522,19.062500
29,Uttarakhand,7.333333,48.666667,31.666667,5.000000
30,West_Bengal,25.684211,37.666667,30.333333,8.571429

In [34]:
df_2021['state'] = df_2021['state'].str.replace(" ", "_")
df_2021['state'] = df_2021['state'].str.rstrip('_')
df_2021['state'] = df_2021['state'].replace('Gujara', 'Gujarat')
df_2021['state'] = df_2021['state'].str.replace(r'_\(UT\)', '', regex=True).str.rstrip('_')
df_2021 = df_2021.groupby('state').mean().reset_index()
display(df_2021)

,state,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
0,Andhra_Pradesh,7.125000,17.562500,63.000000,28.250000
1,Arunachal_Pradesh,15.000000,5.500000,60.500000,15.000000
2,Assam,7.538462,12.076923,63.461538,46.333333
3,Bihar,7.500000,19.250000,129.750000,66.250000
4,Chandigarh,6.000000,24.000000,98.000000,49.000000
5,Chattisgarh,9.000000,16.000000,64.000000,30.500000
6,Dadara_&_Nagar_Haveli_and_Daman_&_Diu,15.000000,20.000000,84.000000,30.000000
7,Delhi,10.000000,42.000000,207.000000,107.000000
8,Goa,6.187500,13.437500,61.562500,27.937500
9,Gujarat,15.181818,20.772727,114.954545,34.590909
10,Haryana,12.583333,25.250000,162.000000,71.041667
11,Himachal_Pradesh,2.272727,8.454545,71.818182,28.454545
12,Jammu_&_Kashmir,6.000000,16.333333,132.333333,31.500000
13,Jharkhand,21.000000,32.125000,155.750000,105.000000
14,Karnataka,10.884615,15.807692,53.384615,25.240000
15,Kerala,5.214286,10.714286,49.071429,27.818182
16,Madhya_Pradesh,13.444444,20.947368,94.000000,40.368421
17,Maharashtra,15.333333,31.791667,86.920000,43.400000
18,Manipur,6.000000,26.000000,123.000000,48.000000
19,Meghalaya,6.166667,8.428571,72.142857,11.714286
20,Mizoram,2.800000,5.100000,33.800000,19.500000
21,Nagaland,11.000000,5.000000,82.500000,33.000000
22,Odisha,8.000000,16.235294,92.588235,41.285714
23,Pondicherry,4.500000,8.000000,41.500000,20.000000
24,Punjab,8.609375,19.000000,112.156250,57.785714
25,Rajasthan,11.300000,27.700000,138.500000,63.000000
26,Sikkim,5.625000,7.000000,35.125000,31.000000
27,Tamilnadu,9.588235,16.529412,49.647059,22.588235
28,Telangana,6.636364,35.181818,77.181818,47.714286
29,Tripura,19.000000,9.000000,82.000000,50.000000
30,Uttar_Pradesh,13.148148,28.259259,175.037037,83.714286
31,Uttarakhand,16.333333,23.166667,125.666667,69.200000
32,West_Bengal,7.073171,28.536585,97.902439,56.100000

In [28]:
df_2022['state'] = df_2022['state'].str.replace(" ", "_")
df_2022['state'] = df_2022['state'].str.rstrip('_')
df_2022['state'] = df_2022['state'].str.replace(r'_\(UT\)', '', regex=True).str.rstrip('_')
display(df_2022)

,state,SO2 Average,NO2 Average,PM10 Average,PM2.5 Average
index,,,,,
0,Andhra_Pradesh,6.875000,17.875000,64.750000,28.937500
1,Arunachal_Pradesh,15.000000,11.500000,57.500000,23.000000
2,Assam,6.642857,12.500000,71.357143,33.846154
3,Bihar,7.560000,36.200000,176.840000,84.600000
4,Chandigarh,7.000000,27.000000,113.000000,57.000000
5,Chattisgarh,10.200000,15.600000,65.600000,28.750000
6,Dadara_&_Nagar_Haveli_and_Daman_&_Diu,17.250000,22.250000,75.500000,30.000000
7,Delhi,9.000000,41.000000,207.000000,98.000000
8,Goa,6.062500,13.375000,57.187500,27.428571
9,Gujarat,19.200000,21.300000,104.200000,44.400000
10,Haryana,11.875000,21.583333,150.090909,68.166667
11,Himachal_Pradesh,3.727273,8.727273,67.090909,28.181818
12,Jammu_&_Kashmir,12.500000,19.000000,139.250000,29.250000
13,Jharkhand,20.125000,32.000000,152.375000,NaN
14,Karnataka,13.629630,15.333333,59.555556,26.625000
15,Kerala,3.600000,12.333333,52.466667,31.090909
16,Madhya_Pradesh,13.388889,23.789474,97.210526,39.947368
17,Maharashtra,17.307692,34.000000,90.000000,50.090909
18,Manipur,51.000000,8.000000,37.000000,12.000000
19,Meghalaya,8.142857,11.428571,63.285714,27.857143
20,Mizoram,2.875000,4.875000,25.250000,10.000000
21,Nagaland,21.500000,5.500000,81.000000,27.000000
22,Odisha,8.882353,16.823529,93.058824,40.071429
23,Pondicherry,5.500000,8.000000,46.500000,25.000000
24,Punjab,7.542857,18.685714,97.314286,50.750000
25,Rajasthan,11.300000,30.400000,138.100000,60.500000
26,Sikkim,5.125000,6.000000,37.500000,13.000000
27,Tamilnadu,17.640000,16.416667,53.653846,23.500000
28,Telangana,7.818182,30.000000,76.272727,39.285714
29,Tripura,31.000000,11.000000,94.000000,53.000000
30,Uttar_Pradesh,15.965517,26.413793,153.862069,62.500000
31,Uttarakhand,14.666667,21.333333,124.000000,55.500000
32,West_Bengal,7.302326,28.581395,98.000000,49.222222

In [45]:
states_22= df_2022['state'].tolist()
print(states_22)
states_21= df_2021['state'].tolist()
print(states_21)

are_equal = set(states_21) == set(states_22)
print(are_equal)

['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Pondicherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamilnadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Pondicherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamilnadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
True