# Foundations Of Data Science Project

### Data Processing(Cleaning, Selection, Transformation)

In [41]:
import pandas as pd
import xml.etree.ElementTree as ET

#Semi structured data
def xml_to_dataframe(xml_file):
    # parse the XML file
    tree = ET.parse(xml_file)
    root = tree.getroot()

    # extract data
    data = []
    for item in root.findall("./row"):
        record = {}
        for child in item:
            record[child.tag] = child.text
        data.append(record)

    # convert to DataFrame
    df = pd.DataFrame(data)
    return df


# example usage
xml_file = "real_time_air_quality_index.xml"
currentdf = xml_to_dataframe(xml_file)
display(currentdf)

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.5150833,80.5181667,PM2.5,NA,NA,NA
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.5150833,80.5181667,NO2,4,19,9
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.5150833,80.5181667,SO2,15,19,17
3,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",16-09-2024 18:00:00,14.675886,77.593027,NH3,4,4,4
4,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",16-09-2024 18:00:00,14.675886,77.593027,CO,29,46,40
...,...,...,...,...,...,...,...,...,...,...,...
3316,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",16-09-2024 18:00:00,22.627847,88.380669,OZONE,8,42,35
3317,India,West_Bengal,Kolkata,"Rabindra Sarobar, Kolkata - WBPCB",16-09-2024 18:00:00,22.51106,88.35142,CO,14,25,20
3318,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",16-09-2024 18:00:00,22.5448082,88.3403691,SO2,4,6,6
3319,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",16-09-2024 18:00:00,26.6879226,88.4152495,NO2,20,27,22
3320,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",16-09-2024 18:00:00,26.6879226,88.4152495,OZONE,13,15,14

In [42]:
numeric_cols = ['pollutant_min', 'pollutant_max', 'pollutant_avg']
currentdf[numeric_cols] = currentdf[numeric_cols].apply(pd.to_numeric, errors='coerce')
display(currentdf)

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.5150833,80.5181667,PM2.5,NaN,NaN,NaN
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.5150833,80.5181667,NO2,4.0,19.0,9.0
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",16-09-2024 18:00:00,16.5150833,80.5181667,SO2,15.0,19.0,17.0
3,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",16-09-2024 18:00:00,14.675886,77.593027,NH3,4.0,4.0,4.0
4,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",16-09-2024 18:00:00,14.675886,77.593027,CO,29.0,46.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...
3316,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",16-09-2024 18:00:00,22.627847,88.380669,OZONE,8.0,42.0,35.0
3317,India,West_Bengal,Kolkata,"Rabindra Sarobar, Kolkata - WBPCB",16-09-2024 18:00:00,22.51106,88.35142,CO,14.0,25.0,20.0
3318,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",16-09-2024 18:00:00,22.5448082,88.3403691,SO2,4.0,6.0,6.0
3319,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",16-09-2024 18:00:00,26.6879226,88.4152495,NO2,20.0,27.0,22.0
3320,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",16-09-2024 18:00:00,26.6879226,88.4152495,OZONE,13.0,15.0,14.0

In [43]:
currentdf.drop(['latitude', 'longitude', 'last_update', 'country'], axis=1, inplace=True)
display(currentdf.head())

,state,city,station,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",PM2.5,NaN,NaN,NaN
1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",NO2,4.0,19.0,9.0
2,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",SO2,15.0,19.0,17.0
3,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",NH3,4.0,4.0,4.0
4,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",CO,29.0,46.0,40.0

In [44]:
def states(cur_df, df_21, df_22):
    s_22 = df_22['state'].unique().tolist()
    print(s_22)
    s_21 = df_21['state'].unique().tolist()
    print(s_21)
    s_cur = cur_df['state'].unique().tolist()
    print(s_cur)

    print(s_21 == s_22)
    print(s_21 == s_cur)

In [45]:
df_2021 = pd.read_csv('data_2021.csv', skiprows=2)
display(df_2021.head())

,State / Union Territory,City / town / village,Annual Average SO2,Annual Average NO2,Annual Average PM10,Annual Average PM2.5
0,Andhra Pradesh,Amaravati,14,12,55,28
1,Andhra Pradesh,Anatapur,7,16,64,30
2,Andhra Pradesh,Chittor,5,14,46,25
3,Andhra Pradesh,Eluru,5,17,63,30
4,Andhra Pradesh,Guntur,5,17,60,29

In [46]:
df_2021.rename(columns={'State / Union Territory ':'state', 'City / town / village ':'city', 'Annual Average SO2':'SO2'}, inplace=True)
df_2021.rename(columns={'Annual Average NO2':'NO2', 'Annual Average PM10':'PM10', 'Annual Average PM2.5':'PM2.5'}, inplace=True)
numeric_cols = ['SO2', 'NO2', 'PM10', 'PM2.5']
df_2021[numeric_cols] = df_2021[numeric_cols].apply(pd.to_numeric, errors='coerce')
display(df_2021.head())

             state        city   SO2   NO2  PM10  PM2.5
0  Andhra Pradesh   Amaravati   14.0  12.0  55.0   28.0
1  Andhra Pradesh    Anatapur    7.0  16.0  64.0   30.0
2  Andhra Pradesh     Chittor    5.0  14.0  46.0   25.0
3  Andhra Pradesh       Eluru    5.0  17.0  63.0   30.0
4  Andhra Pradesh      Guntur    5.0  17.0  60.0   29.0

In [47]:
states(currentdf, df_2021, df_2021)

['Andhra Pradesh ', 'Arunachal Pradesh ', 'Assam ', 'Bihar ', 'Chandigarh (UT) ', 'Chattisgarh ', 'Dadara & Nagar Haveli and Daman & Diu (UT) ', 'Delhi (UT) ', 'Goa ', 'Gujarat ', 'Haryana ', 'Himachal Pradesh ', 'Jammu & Kashmir (UT) ', 'Jharkhand ', 'Karnataka ', 'Kerala ', 'Madhya Pradesh ', 'Maharashtra ', 'Manipur ', 'Meghalaya ', 'Mizoram ', 'Nagaland ', 'Odisha ', 'Pondicherry (UT) ', 'Punjab ', 'Rajasthan ', 'Sikkim ', 'TamilNadu ', 'Telangana ', 'Tripura ', 'Uttar Pradesh ', 'Uttarakhand ', 'West Bengal ']
['Andhra Pradesh ', 'Arunachal Pradesh ', 'Assam ', 'Bihar ', 'Chandigarh (UT) ', 'Chattisgarh ', 'Dadara & Nagar Haveli and Daman & Diu (UT) ', 'Delhi (UT) ', 'Goa ', 'Gujarat ', 'Haryana ', 'Himachal Pradesh ', 'Jammu & Kashmir (UT) ', 'Jharkhand ', 'Karnataka ', 'Kerala ', 'Madhya Pradesh ', 'Maharashtra ', 'Manipur ', 'Meghalaya ', 'Mizoram ', 'Nagaland ', 'Odisha ', 'Pondicherry (UT) ', 'Punjab ', 'Rajasthan ', 'Sikkim ', 'TamilNadu ', 'Telangana ', 'Tripura ', 'Uttar Pradesh ', 'Uttarakhand ', 'West Bengal ']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal', 'Jammu_and_Kashmir', 'Nagaland']
True
False

In [48]:
df_2022 = pd.read_csv('data_2022.csv')
display(df_2022.head())

,Sr.No.,State / Union Territory,City / town,SO2 Annual Average,NO2 Annual Average,PM10 Annual Average,PM2.5 Annual Average
0,1,Andhra Pradesh,Amaravati,12,10,54,30
1,2,Andhra Pradesh,Anatapur,6,19,61,32
2,3,Andhra Pradesh,Chittor,5,13,55,31
3,4,Andhra Pradesh,Eluru,5,18,67,31
4,5,Andhra Pradesh,Guntur,4,17,60,23

In [49]:
df_2022.rename(columns={'State / Union Territory':'state', 'City / town':'city', 'SO2 Annual Average':'SO2'}, inplace=True)
df_2022.rename(columns={'NO2 Annual Average':'NO2', 'PM10 Annual Average':'PM10', 'PM2.5 Annual Average':'PM2.5'}, inplace=True)
df_2022.drop(columns='Sr.No.', inplace=True)
numeric_cols = ['SO2', 'NO2', 'PM10', 'PM2.5']
df_2022[numeric_cols] = df_2022[numeric_cols].apply(pd.to_numeric, errors='coerce')
display(df_2022.head())

            state       city   SO2   NO2  PM10  PM2.5
0  Andhra Pradesh  Amaravati  12.0  10.0  54.0   30.0
1  Andhra Pradesh   Anatapur   6.0  19.0  61.0   32.0
2  Andhra Pradesh    Chittor   5.0  13.0  55.0   31.0
3  Andhra Pradesh      Eluru   5.0  18.0  67.0   31.0
4  Andhra Pradesh     Guntur   4.0  17.0  60.0   23.0

In [50]:
states(currentdf, df_2021, df_2022)

['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh (UT)', 'Chattisgarh', 'Dadara & Nagar Haveli and Daman & Diu (UT)', 'Delhi (UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir (UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Pondicherry (UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']
['Andhra Pradesh ', 'Arunachal Pradesh ', 'Assam ', 'Bihar ', 'Chandigarh (UT) ', 'Chattisgarh ', 'Dadara & Nagar Haveli and Daman & Diu (UT) ', 'Delhi (UT) ', 'Goa ', 'Gujarat ', 'Haryana ', 'Himachal Pradesh ', 'Jammu & Kashmir (UT) ', 'Jharkhand ', 'Karnataka ', 'Kerala ', 'Madhya Pradesh ', 'Maharashtra ', 'Manipur ', 'Meghalaya ', 'Mizoram ', 'Nagaland ', 'Odisha ', 'Pondicherry (UT) ', 'Punjab ', 'Rajasthan ', 'Sikkim ', 'TamilNadu ', 'Telangana ', 'Tripura ', 'Uttar Pradesh ', 'Uttarakhand ', 'West Bengal ']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal', 'Jammu_and_Kashmir', 'Nagaland']
False
False

In [51]:
#cleaning state names
df_2021['state'] = df_2021['state'].str.replace(" ", "_")
df_2021['state'] = df_2021['state'].str.rstrip('_')
df_2021['state'] = df_2021['state'].str.replace("Pondicherry_(UT)", "Puducherry_(UT)")
display(df_2021.head())

            state        city   SO2   NO2  PM10  PM2.5
0  Andhra_Pradesh  Amaravati   14.0  12.0  55.0   28.0
1  Andhra_Pradesh   Anatapur    7.0  16.0  64.0   30.0
2  Andhra_Pradesh    Chittor    5.0  14.0  46.0   25.0
3  Andhra_Pradesh      Eluru    5.0  17.0  63.0   30.0
4  Andhra_Pradesh     Guntur    5.0  17.0  60.0   29.0

In [52]:
#cleaning state names
df_2022['state'] = df_2022['state'].str.replace(" ", "_")
df_2022['state'] = df_2022['state'].str.rstrip('_')
df_2022['state'] = df_2022['state'].str.replace("Pondicherry_(UT)", "Puducherry_(UT)")
display(df_2022.head())

            state       city   SO2   NO2  PM10  PM2.5
0  Andhra_Pradesh  Amaravati  12.0  10.0  54.0   30.0
1  Andhra_Pradesh   Anatapur   6.0  19.0  61.0   32.0
2  Andhra_Pradesh    Chittor   5.0  13.0  55.0   31.0
3  Andhra_Pradesh      Eluru   5.0  18.0  67.0   31.0
4  Andhra_Pradesh     Guntur   4.0  17.0  60.0   23.0

In [53]:
states(currentdf, df_2021, df_2022)

['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)', 'Delhi_(UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir_(UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)', 'Delhi_(UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir_(UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal', 'Jammu_and_Kashmir', 'Nagaland']
True
False

In [54]:
currentdf['state'] = currentdf['state'].str.replace(" ", "_")
currentdf['state'] = currentdf['state'].str.rstrip('_')
currentdf['state'] = currentdf['state'].str.replace('Chandigarh', 'Chandigarh_(UT)')
currentdf['state'] = currentdf['state'].str.replace('Chhattisgarh', 'Chattisgarh')
currentdf['state'] = currentdf['state'].str.replace('Delhi', 'Delhi_(UT)')
currentdf['state'] = currentdf['state'].str.replace('Jammu_and_Kashmir', 'Jammu_&_Kashmir_(UT)')
currentdf['state'] = currentdf['state'].str.replace('Puducherry', 'Puducherry_(UT)')
states(currentdf, df_2021, df_2022)

['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)', 'Delhi_(UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir_(UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)', 'Delhi_(UT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jammu_&_Kashmir_(UT)', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Arunachal_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Delhi_(UT)', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'Sikkim', 'TamilNadu', 'Telangana', 'Tripura', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal', 'Jammu_&_Kashmir_(UT)', 'Nagaland']
True
False

So state in both df_2021, df_2022 are in sync

#### SQLite

Normalisation

In [55]:
import sqlite3
conn = sqlite3.connect('project.db', timeout=30)
c = conn.cursor()

In [56]:
#Storing data in sql database
currentdf.to_sql('currentdf', conn, if_exists='replace', index=False)
conn.commit()
df_2021.to_sql('df_2021', conn, if_exists='replace', index=False)
conn.commit()
df_2022.to_sql('df_2022', conn, if_exists='replace', index=False)
conn.commit()

In [57]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [58]:
%sql sqlite:///project.db

_First Normal Form (1NF)_  
No Multivalue attribute  
Composite Primary Key - (station, pollutant_id)

*Second Normal Form*  
Functional Dependencies: (station, pollutant_id) -> pollutant_min, pollutant_max, pollutant_avg

In [59]:
%%sql
CREATE TABLE IF NOT EXISTS nor_currentdf (
  station text NOT NULL,
  pollutant_id text NOT NULL,
  pollutant_min float,
  pollutant_max float,
  pollutant_avg float,
  PRIMARY KEY  ('station', 'pollutant_id'));
INSERT OR IGNORE INTO nor_currentdf (station, pollutant_id, pollutant_min, pollutant_max, pollutant_avg) 
SELECT station, pollutant_id, pollutant_min, pollutant_max, pollutant_avg FROM currentdf;

SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///project.db
Done.
0 rows affected.
Done.

[('table', 'nor_currentdf', 'nor_currentdf', 69, "CREATE TABLE nor_currentdf (\n  station text NOT NULL,\n  pollutant_id text NOT NULL,\n  pollutant_min float,\n  pollutant_max float,\n  pollutant_avg float,\n  PRIMARY KEY  ('station', 'pollutant_id'))"),
 ('table', 'state_city', 'state_city', 150, 'CREATE TABLE state_city (\n  city text NOT NULL,\n  state text NOT NULL)'),
 ('table', 'city_station', 'city_station', 153, 'CREATE TABLE city_station(\n  city text NOT NULL,\n  station text NOT NULL)'),
 ('table', 'avg_cur_df', 'avg_cur_df', 160, 'CREATE TABLE "avg_cur_df" (\n"state" TEXT,\n  "CO" REAL,\n  "NH3" REAL,\n  "NO2" REAL,\n  "OZONE" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL,\n  "SO2" REAL\n)'),
 ('table', 'avg_df_2021', 'avg_df_2021', 161, 'CREATE TABLE "avg_df_2021" (\n"state" TEXT,\n  "SO2" REAL,\n  "NO2" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL\n)'),
 ('table', 'avg_df_2022', 'avg_df_2022', 162, 'CREATE TABLE "avg_df_2022" (\n"state" TEXT,\n  "SO2" REAL,\n  "NO2" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL\n)'),
 ('table', 'currentdf', 'currentdf', 2, 'CREATE TABLE "currentdf" (\n"state" TEXT,\n  "city" TEXT,\n  "station" TEXT,\n  "pollutant_id" TEXT,\n  "pollutant_min" REAL,\n  "pollutant_max" REAL,\n  "pollutant_avg" REAL\n)'),
 ('table', 'df_2021', 'df_2021', 59, 'CREATE TABLE "df_2021" (\n"state" TEXT,\n  "city" TEXT,\n  "SO2" REAL,\n  "NO2" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL\n)'),
 ('table', 'df_2022', 'df_2022', 64, 'CREATE TABLE "df_2022" (\n"state" TEXT,\n  "city" TEXT,\n  "SO2" REAL,\n  "NO2" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL\n)')]

*Third Normal Form*  
Transitive Dependency: state -> city, city -> station

In [60]:
%%sql

CREATE TABLE IF NOT EXISTS state_city (
  city text NOT NULL,
  state text NOT NULL);
INSERT OR IGNORE INTO state_city (city, state) 
SELECT DISTINCT city, state FROM currentdf;

CREATE TABLE IF NOT EXISTS city_station(
  city text NOT NULL,
  station text NOT NULL);
INSERT OR IGNORE INTO city_station (city, station) 
SELECT DISTINCT city, station FROM currentdf;

SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///project.db
Done.
266 rows affected.
Done.
498 rows affected.
Done.

[('table', 'nor_currentdf', 'nor_currentdf', 69, "CREATE TABLE nor_currentdf (\n  station text NOT NULL,\n  pollutant_id text NOT NULL,\n  pollutant_min float,\n  pollutant_max float,\n  pollutant_avg float,\n  PRIMARY KEY  ('station', 'pollutant_id'))"),
 ('table', 'state_city', 'state_city', 150, 'CREATE TABLE state_city (\n  city text NOT NULL,\n  state text NOT NULL)'),
 ('table', 'city_station', 'city_station', 153, 'CREATE TABLE city_station(\n  city text NOT NULL,\n  station text NOT NULL)'),
 ('table', 'avg_cur_df', 'avg_cur_df', 160, 'CREATE TABLE "avg_cur_df" (\n"state" TEXT,\n  "CO" REAL,\n  "NH3" REAL,\n  "NO2" REAL,\n  "OZONE" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL,\n  "SO2" REAL\n)'),
 ('table', 'avg_df_2021', 'avg_df_2021', 161, 'CREATE TABLE "avg_df_2021" (\n"state" TEXT,\n  "SO2" REAL,\n  "NO2" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL\n)'),
 ('table', 'avg_df_2022', 'avg_df_2022', 162, 'CREATE TABLE "avg_df_2022" (\n"state" TEXT,\n  "SO2" REAL,\n  "NO2" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL\n)'),
 ('table', 'currentdf', 'currentdf', 2, 'CREATE TABLE "currentdf" (\n"state" TEXT,\n  "city" TEXT,\n  "station" TEXT,\n  "pollutant_id" TEXT,\n  "pollutant_min" REAL,\n  "pollutant_max" REAL,\n  "pollutant_avg" REAL\n)'),
 ('table', 'df_2021', 'df_2021', 59, 'CREATE TABLE "df_2021" (\n"state" TEXT,\n  "city" TEXT,\n  "SO2" REAL,\n  "NO2" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL\n)'),
 ('table', 'df_2022', 'df_2022', 64, 'CREATE TABLE "df_2022" (\n"state" TEXT,\n  "city" TEXT,\n  "SO2" REAL,\n  "NO2" REAL,\n  "PM10" REAL,\n  "PM2.5" REAL\n)')]

In [61]:
%%sql
SELECT * FROM nor_currentdf LIMIT 15;

 * sqlite:///project.db
Done.

[('Secretariat, Amaravati - APPCB', 'PM2.5', None, None, None),
 ('Secretariat, Amaravati - APPCB', 'NO2', 4.0, 19.0, 9.0),
 ('Secretariat, Amaravati - APPCB', 'SO2', 15.0, 19.0, 17.0),
 ('Gulzarpet, Anantapur - APPCB', 'NH3', 4.0, 4.0, 4.0),
 ('Gulzarpet, Anantapur - APPCB', 'CO', 29.0, 46.0, 40.0),
 ('Gulzarpet, Anantapur - APPCB', 'OZONE', 7.0, 44.0, 31.0),
 ('Gangineni Cheruvu, Chittoor - APPCB', 'NO2', 8.0, 9.0, 9.0),
 ('Yerramukkapalli, Kadapa - APPCB', 'NO2', None, None, None),
 ('Yerramukkapalli, Kadapa - APPCB', 'NH3', None, None, None),
 ('Anand Kala Kshetram, Rajamahendravaram - APPCB', 'PM2.5', 27.0, 46.0, 35.0),
 ('Tirumala, Tirupati - APPCB', 'NH3', 1.0, 2.0, 1.0),
 ('Vaikuntapuram, Tirupati - APPCB', 'PM2.5', None, None, None),
 ('HB Colony, Vijayawada - APPCB', 'PM10', None, None, None),
 ('Kanuru, Vijayawada - APPCB', 'OZONE', None, None, None),
 ('Rajiv Gandhi Park, Vijayawada - APPCB', 'NH3', None, None, None)]

In [62]:
%%sql
SELECT * FROM state_city LIMIT 15;

 * sqlite:///project.db
Done.

[('Amaravati', 'Andhra_Pradesh'),
 ('Anantapur', 'Andhra_Pradesh'),
 ('Chittoor', 'Andhra_Pradesh'),
 ('Kadapa', 'Andhra_Pradesh'),
 ('Rajamahendravaram', 'Andhra_Pradesh'),
 ('Tirupati', 'Andhra_Pradesh'),
 ('Vijayawada', 'Andhra_Pradesh'),
 ('Visakhapatnam', 'Andhra_Pradesh'),
 ('Naharlagun', 'Arunachal_Pradesh'),
 ('Byrnihat', 'Assam'),
 ('Guwahati', 'Assam'),
 ('Nagaon', 'Assam'),
 ('Nalbari', 'Assam'),
 ('Silchar', 'Assam'),
 ('Sivasagar', 'Assam')]

In [63]:
%%sql
SELECT * FROM city_station LIMIT 15;

 * sqlite:///project.db
Done.

[('Amaravati', 'Secretariat, Amaravati - APPCB'),
 ('Anantapur', 'Gulzarpet, Anantapur - APPCB'),
 ('Chittoor', 'Gangineni Cheruvu, Chittoor - APPCB'),
 ('Kadapa', 'Yerramukkapalli, Kadapa - APPCB'),
 ('Rajamahendravaram', 'Anand Kala Kshetram, Rajamahendravaram - APPCB'),
 ('Tirupati', 'Tirumala, Tirupati - APPCB'),
 ('Tirupati', 'Vaikuntapuram, Tirupati - APPCB'),
 ('Vijayawada', 'HB Colony, Vijayawada - APPCB'),
 ('Vijayawada', 'Kanuru, Vijayawada - APPCB'),
 ('Vijayawada', 'Rajiv Gandhi Park, Vijayawada - APPCB'),
 ('Visakhapatnam', 'GVM Corporation, Visakhapatnam - APPCB'),
 ('Naharlagun', 'Naharlagun, Naharlagun - APSPCB'),
 ('Byrnihat', 'Central Academy for SFS, Byrnihat - PCBA'),
 ('Guwahati', 'LGBI Airport, Guwahati - PCBA'),
 ('Guwahati', 'Railway Colony, Guwahati - PCBA')]

SO THE DATA IS NORMALIZED TO 3NF

In [64]:
avg_df_2021 = df_2021.drop(columns=['city'])
display(avg_df_2021.head())

            state   SO2   NO2  PM10  PM2.5
0  Andhra_Pradesh  14.0  12.0  55.0   28.0
1  Andhra_Pradesh   7.0  16.0  64.0   30.0
2  Andhra_Pradesh   5.0  14.0  46.0   25.0
3  Andhra_Pradesh   5.0  17.0  63.0   30.0
4  Andhra_Pradesh   5.0  17.0  60.0   29.0

In [65]:
avg_df_2021 = avg_df_2021.groupby('state').mean().reset_index()
display(avg_df_2021.head())

               state        SO2        NO2        PM10      PM2.5
0     Andhra_Pradesh   7.125000  17.562500   63.000000  28.250000
1  Arunachal_Pradesh  15.000000   5.500000   60.500000  15.000000
2              Assam   7.538462  12.076923   63.461538  46.333333
3              Bihar   7.500000  19.250000  129.750000  66.250000
4    Chandigarh_(UT)   6.000000  24.000000   98.000000  49.000000

In [66]:
avg_df_2022 = df_2022.drop(columns=['city'])
display(avg_df_2022.head())

            state   SO2   NO2  PM10  PM2.5
0  Andhra_Pradesh  12.0  10.0  54.0   30.0
1  Andhra_Pradesh   6.0  19.0  61.0   32.0
2  Andhra_Pradesh   5.0  13.0  55.0   31.0
3  Andhra_Pradesh   5.0  18.0  67.0   31.0
4  Andhra_Pradesh   4.0  17.0  60.0   23.0

In [67]:
avg_df_2022 = avg_df_2022.groupby('state').mean().reset_index()
display(avg_df_2022.head())

               state        SO2     NO2        PM10      PM2.5
0     Andhra_Pradesh   6.875000  17.875   64.750000  28.937500
1  Arunachal_Pradesh  15.000000  11.500   57.500000  23.000000
2              Assam   6.642857  12.500   71.357143  33.846154
3              Bihar   7.560000  36.200  176.840000  84.600000
4    Chandigarh_(UT)   7.000000  27.000  113.000000  57.000000

In [68]:
polinfo_df=currentdf.value_counts('pollutant_id')
display(polinfo_df)

pollutant_id
PM10     487
PM2.5    486
CO       484
NO2      484
SO2      475
OZONE    472
NH3      433
Name: count, dtype: int64

In [69]:
avg_cur_df = currentdf.copy()
display(avg_cur_df.head())

,state,city,station,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",PM2.5,NaN,NaN,NaN
1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",NO2,4.0,19.0,9.0
2,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",SO2,15.0,19.0,17.0
3,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",NH3,4.0,4.0,4.0
4,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",CO,29.0,46.0,40.0

In [70]:
#removed noisy columns
avg_cur_df.drop(columns=['pollutant_min', 'pollutant_max'], inplace=True)
display(avg_cur_df.head())

,state,city,station,pollutant_id,pollutant_avg
0,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",PM2.5,NaN
1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",NO2,9.0
2,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",SO2,17.0
3,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",NH3,4.0
4,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",CO,40.0

In [71]:
avg_cur_df = avg_cur_df[['state', 'pollutant_id', 'pollutant_avg']].groupby(['state', 'pollutant_id']).mean()
display(avg_cur_df)

                             pollutant_avg
state          pollutant_id
Andhra_Pradesh CO                28.111111
               NH3                2.857143
               NO2               15.857143
               OZONE             25.375000
               PM10              61.600000
...                                    ...
West_Bengal    NO2               25.684211
               OZONE             24.333333
               PM10              37.666667
               PM2.5             30.333333
               SO2                8.571429

[211 rows x 1 columns]

In [72]:
avg_cur_df = avg_cur_df.unstack()
display(avg_cur_df.head())

                  pollutant_avg                                             \
pollutant_id                 CO       NH3        NO2      OZONE       PM10
state
Andhra_Pradesh        28.111111  2.857143  15.857143  25.375000  61.600000
Arunachal_Pradesh     10.000000       NaN   3.000000   3.000000  32.000000
Assam                 28.500000  1.400000   8.333333  14.333333  57.833333
Bihar                 38.656250  5.038462  13.206897  25.781250  45.523810
Chandigarh_(UT)       34.666667  7.500000  18.000000  46.666667  59.000000


pollutant_id           PM2.5        SO2
state
Andhra_Pradesh     49.250000   9.833333
Arunachal_Pradesh  27.000000   5.000000
Assam              57.800000   6.500000
Bihar              32.333333  10.034483
Chandigarh_(UT)    40.000000   9.000000

In [73]:
avg_cur_df.reset_index()
avg_cur_df.columns=['CO', 'NH3', 'NO2', 'OZONE', 'PM10', 'PM2.5', 'SO2']
avg_cur_df.dropna(inplace=True)
avg_cur_df.reset_index(inplace=True)
display(avg_cur_df)

,state,CO,NH3,NO2,OZONE,PM10,PM2.5,SO2
0,Andhra_Pradesh,28.111111,2.857143,15.857143,25.375000,61.600000,49.250000,9.833333
1,Assam,28.500000,1.400000,8.333333,14.333333,57.833333,57.800000,6.500000
2,Bihar,38.656250,5.038462,13.206897,25.781250,45.523810,32.333333,10.034483
3,Chandigarh_(UT),34.666667,7.500000,18.000000,46.666667,59.000000,40.000000,9.000000
4,Chattisgarh,23.846154,3.272727,12.727273,15.000000,38.636364,27.900000,9.846154
5,Delhi_(UT),38.216216,6.967742,36.166667,34.162162,134.694444,85.085714,13.032258
6,Gujarat,23.818182,3.636364,25.454545,30.416667,72.090909,60.000000,11.636364
7,Haryana,30.925926,9.263158,19.347826,34.481481,76.578947,68.318182,17.260870
8,Himachal_Pradesh,23.000000,4.000000,18.000000,96.000000,81.000000,59.000000,21.000000
9,Karnataka,30.878049,2.843750,16.617647,22.081081,40.648649,28.828571,13.027027
10,Kerala,21.000000,2.500000,12.750000,28.500000,40.500000,30.000000,6.000000
11,Madhya_Pradesh,29.840000,3.055556,17.833333,46.500000,72.666667,44.217391,21.192308
12,Maharashtra,22.012346,4.294118,20.089744,27.573171,63.025641,41.763158,8.000000
13,Nagaland,9.000000,1.000000,3.000000,3.000000,44.000000,44.000000,49.000000
14,Odisha,39.352941,4.714286,15.000000,29.062500,39.437500,27.666667,11.066667
15,Puducherry_(UT),32.000000,3.000000,13.000000,59.000000,44.000000,27.000000,10.000000
16,Punjab,35.000000,4.500000,21.625000,39.500000,88.571429,63.428571,14.375000
17,Rajasthan,22.739130,4.431818,15.711111,45.934783,90.377778,48.111111,7.244444
18,TamilNadu,20.842105,3.250000,13.100000,14.650000,43.086957,32.000000,13.142857
19,Telangana,29.384615,4.444444,18.416667,25.307692,60.400000,37.333333,13.727273
20,Uttar_Pradesh,25.788462,3.790698,18.212766,28.979592,91.276596,59.456522,19.062500
21,Uttarakhand,41.333333,4.000000,7.333333,32.000000,48.666667,31.666667,5.000000
22,West_Bengal,28.666667,5.277778,25.684211,24.333333,37.666667,30.333333,8.571429

In [74]:
avg_cur_df.to_sql('avg_cur_df', conn, if_exists='replace', index=False)
avg_df_2021.to_sql('avg_df_2021', conn, if_exists='replace', index=False)
avg_df_2022.to_sql('avg_df_2022', conn, if_exists='replace', index=False)
conn.commit()
display(pd.read_sql_query('SELECT * FROM avg_cur_df', conn).head())
display(pd.read_sql_query('SELECT * FROM avg_df_2021', conn).head())
display(pd.read_sql_query('SELECT * FROM avg_df_2022', conn).head())

,state,CO,NH3,NO2,OZONE,PM10,PM2.5,SO2
0,Andhra_Pradesh,28.111111,2.857143,15.857143,25.375000,61.600000,49.250000,9.833333
1,Assam,28.500000,1.400000,8.333333,14.333333,57.833333,57.800000,6.500000
2,Bihar,38.656250,5.038462,13.206897,25.781250,45.523810,32.333333,10.034483
3,Chandigarh_(UT),34.666667,7.500000,18.000000,46.666667,59.000000,40.000000,9.000000
4,Chattisgarh,23.846154,3.272727,12.727273,15.000000,38.636364,27.900000,9.846154

               state        SO2        NO2        PM10      PM2.5
0     Andhra_Pradesh   7.125000  17.562500   63.000000  28.250000
1  Arunachal_Pradesh  15.000000   5.500000   60.500000  15.000000
2              Assam   7.538462  12.076923   63.461538  46.333333
3              Bihar   7.500000  19.250000  129.750000  66.250000
4    Chandigarh_(UT)   6.000000  24.000000   98.000000  49.000000

               state        SO2     NO2        PM10      PM2.5
0     Andhra_Pradesh   6.875000  17.875   64.750000  28.937500
1  Arunachal_Pradesh  15.000000  11.500   57.500000  23.000000
2              Assam   6.642857  12.500   71.357143  33.846154
3              Bihar   7.560000  36.200  176.840000  84.600000
4    Chandigarh_(UT)   7.000000  27.000  113.000000  57.000000

In [75]:
display(pd.read_sql_query("SELECT state FROM avg_cur_df WHERE state NOT IN (SELECT state FROM avg_df_2021);", conn))
display(pd.read_sql_query("SELECT state FROM avg_df_2021 WHERE state NOT IN (SELECT state FROM avg_cur_df);", conn))

Empty DataFrame
Columns: [state]
Index: []

                                        state
0                           Arunachal_Pradesh
1  Dadara_&_Nagar_Haveli_and_Daman_&_Diu_(UT)
2                                         Goa
3                        Jammu_&_Kashmir_(UT)
4                                   Jharkhand
5                                     Manipur
6                                   Meghalaya
7                                     Mizoram
8                                      Sikkim
9                                     Tripura

info related to all states of mod_cur_df is available in mod_df_2021, mod_df_2022.
But not vice versa.
We can only work with the data which is available from all three dataframes

In [76]:
#removing unwanted records
c.execute("DELETE FROM avg_df_2021 WHERE state NOT IN (SELECT state FROM avg_cur_df);")
c.execute("DELETE FROM avg_df_2022 WHERE state NOT IN (SELECT state FROM avg_cur_df);")
conn.commit()
avg_df_2021 = pd.read_sql_query('SELECT * FROM avg_df_2021', conn)
avg_df_2022 = pd.read_sql_query('SELECT * FROM avg_df_2022', conn)

In [77]:
display(avg_cur_df)
display(avg_df_2021)
display(avg_df_2022)

,state,CO,NH3,NO2,OZONE,PM10,PM2.5,SO2
0,Andhra_Pradesh,28.111111,2.857143,15.857143,25.375000,61.600000,49.250000,9.833333
1,Assam,28.500000,1.400000,8.333333,14.333333,57.833333,57.800000,6.500000
2,Bihar,38.656250,5.038462,13.206897,25.781250,45.523810,32.333333,10.034483
3,Chandigarh_(UT),34.666667,7.500000,18.000000,46.666667,59.000000,40.000000,9.000000
4,Chattisgarh,23.846154,3.272727,12.727273,15.000000,38.636364,27.900000,9.846154
5,Delhi_(UT),38.216216,6.967742,36.166667,34.162162,134.694444,85.085714,13.032258
6,Gujarat,23.818182,3.636364,25.454545,30.416667,72.090909,60.000000,11.636364
7,Haryana,30.925926,9.263158,19.347826,34.481481,76.578947,68.318182,17.260870
8,Himachal_Pradesh,23.000000,4.000000,18.000000,96.000000,81.000000,59.000000,21.000000
9,Karnataka,30.878049,2.843750,16.617647,22.081081,40.648649,28.828571,13.027027
10,Kerala,21.000000,2.500000,12.750000,28.500000,40.500000,30.000000,6.000000
11,Madhya_Pradesh,29.840000,3.055556,17.833333,46.500000,72.666667,44.217391,21.192308
12,Maharashtra,22.012346,4.294118,20.089744,27.573171,63.025641,41.763158,8.000000
13,Nagaland,9.000000,1.000000,3.000000,3.000000,44.000000,44.000000,49.000000
14,Odisha,39.352941,4.714286,15.000000,29.062500,39.437500,27.666667,11.066667
15,Puducherry_(UT),32.000000,3.000000,13.000000,59.000000,44.000000,27.000000,10.000000
16,Punjab,35.000000,4.500000,21.625000,39.500000,88.571429,63.428571,14.375000
17,Rajasthan,22.739130,4.431818,15.711111,45.934783,90.377778,48.111111,7.244444
18,TamilNadu,20.842105,3.250000,13.100000,14.650000,43.086957,32.000000,13.142857
19,Telangana,29.384615,4.444444,18.416667,25.307692,60.400000,37.333333,13.727273
20,Uttar_Pradesh,25.788462,3.790698,18.212766,28.979592,91.276596,59.456522,19.062500
21,Uttarakhand,41.333333,4.000000,7.333333,32.000000,48.666667,31.666667,5.000000
22,West_Bengal,28.666667,5.277778,25.684211,24.333333,37.666667,30.333333,8.571429

               state        SO2        NO2        PM10       PM2.5
0     Andhra_Pradesh   7.125000  17.562500   63.000000   28.250000
1              Assam   7.538462  12.076923   63.461538   46.333333
2              Bihar   7.500000  19.250000  129.750000   66.250000
3    Chandigarh_(UT)   6.000000  24.000000   98.000000   49.000000
4        Chattisgarh   9.000000  16.000000   64.000000   30.500000
5         Delhi_(UT)  10.000000  42.000000  207.000000  107.000000
6            Gujarat  17.000000  23.916667  110.750000   40.916667
7            Haryana  12.583333  25.250000  162.000000   71.041667
8   Himachal_Pradesh   2.272727   8.454545   71.818182   28.454545
9          Karnataka  10.884615  15.807692   53.384615   25.240000
10            Kerala   5.214286  10.714286   49.071429   27.818182
11    Madhya_Pradesh  13.444444  20.947368   94.000000   40.368421
12       Maharashtra  15.333333  31.791667   86.920000   43.400000
13          Nagaland  11.000000   5.000000   82.500000   33.000000
14            Odisha   8.000000  16.235294   92.588235   41.285714
15   Puducherry_(UT)   4.500000   8.000000   41.500000   20.000000
16            Punjab   7.303030  17.121212  102.909091   53.875000
17         Rajasthan  11.300000  27.700000  138.500000   63.000000
18         TamilNadu   9.588235  16.529412   49.647059   22.588235
19         Telangana   6.636364  35.181818   77.181818   47.714286
20     Uttar_Pradesh  13.148148  28.259259  175.037037   83.714286
21       Uttarakhand  16.333333  23.166667  125.666667   69.200000
22       West_Bengal   7.073171  28.536585   97.902439   56.100000

               state        SO2        NO2        PM10      PM2.5
0     Andhra_Pradesh   6.875000  17.875000   64.750000  28.937500
1              Assam   6.642857  12.500000   71.357143  33.846154
2              Bihar   7.560000  36.200000  176.840000  84.600000
3    Chandigarh_(UT)   7.000000  27.000000  113.000000  57.000000
4        Chattisgarh  10.200000  15.600000   65.600000  28.750000
5         Delhi_(UT)   9.000000  41.000000  207.000000  98.000000
6            Gujarat  19.200000  21.300000  104.200000  44.400000
7            Haryana  11.875000  21.583333  150.090909  68.166667
8   Himachal_Pradesh   3.727273   8.727273   67.090909  28.181818
9          Karnataka  13.629630  15.333333   59.555556  26.625000
10            Kerala   3.600000  12.333333   52.466667  31.090909
11    Madhya_Pradesh  13.388889  23.789474   97.210526  39.947368
12       Maharashtra  17.307692  34.000000   90.000000  50.090909
13          Nagaland  21.500000   5.500000   81.000000  27.000000
14            Odisha   8.882353  16.823529   93.058824  40.071429
15   Puducherry_(UT)   5.500000   8.000000   46.500000  25.000000
16            Punjab   7.542857  18.685714   97.314286  50.750000
17         Rajasthan  11.300000  30.400000  138.100000  60.500000
18         TamilNadu  17.640000  16.416667   53.653846  23.500000
19         Telangana   7.818182  30.000000   76.272727  39.285714
20     Uttar_Pradesh  15.965517  26.413793  153.862069  62.500000
21       Uttarakhand  14.666667  21.333333  124.000000  55.500000
22       West_Bengal   7.302326  28.581395   98.000000  49.222222

In [78]:
states(avg_cur_df, avg_df_2021, avg_df_2022)

['Andhra_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Delhi_(UT)', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'TamilNadu', 'Telangana', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Delhi_(UT)', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'TamilNadu', 'Telangana', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
['Andhra_Pradesh', 'Assam', 'Bihar', 'Chandigarh_(UT)', 'Chattisgarh', 'Delhi_(UT)', 'Gujarat', 'Haryana', 'Himachal_Pradesh', 'Karnataka', 'Kerala', 'Madhya_Pradesh', 'Maharashtra', 'Nagaland', 'Odisha', 'Puducherry_(UT)', 'Punjab', 'Rajasthan', 'TamilNadu', 'Telangana', 'Uttar_Pradesh', 'Uttarakhand', 'West_Bengal']
True
True

In [91]:
min_cur_df = currentdf[['state', 'pollutant_id', 'pollutant_min']].groupby(['state', 'pollutant_id']).min()
min_cur_df = min_cur_df.unstack()
display(min_cur_df.head())

                  pollutant_min
pollutant_id                 CO  NH3  NO2 OZONE  PM10 PM2.5  SO2
state
Andhra_Pradesh              6.0  1.0  4.0   3.0  16.0  10.0  2.0
Arunachal_Pradesh           7.0  NaN  3.0   3.0   8.0   6.0  5.0
Assam                       6.0  1.0  3.0   1.0   7.0   8.0  1.0
Bihar                       2.0  1.0  1.0   1.0   1.0   2.0  1.0
Chandigarh_(UT)            18.0  1.0  8.0   5.0  32.0   2.0  4.0

In [92]:
min_cur_df.columns = ['CO', 'NH3', 'NO2', 'OZONE', 'PM10', 'PM2.5', 'SO2']
min_cur_df.dropna(inplace=True)
min_cur_df.reset_index(inplace=True)
display(min_cur_df)

               state    CO  NH3  NO2  OZONE  PM10  PM2.5   SO2
0     Andhra_Pradesh   6.0  1.0  4.0    3.0  16.0   10.0   2.0
1              Assam   6.0  1.0  3.0    1.0   7.0    8.0   1.0
2              Bihar   2.0  1.0  1.0    1.0   1.0    2.0   1.0
3    Chandigarh_(UT)  18.0  1.0  8.0    5.0  32.0    2.0   4.0
4        Chattisgarh  10.0  1.0  4.0    1.0  13.0    2.0   1.0
5         Delhi_(UT)   3.0  1.0  4.0    1.0  13.0   10.0   1.0
6            Gujarat   6.0  1.0  6.0    2.0  33.0   17.0   1.0
7            Haryana   1.0  1.0  3.0    2.0  20.0   13.0   1.0
8   Himachal_Pradesh  19.0  3.0  8.0    9.0  16.0   20.0  19.0
9          Karnataka   1.0  1.0  1.0    2.0   1.0    1.0   1.0
10            Kerala   6.0  1.0  5.0    1.0  12.0    2.0   1.0
11    Madhya_Pradesh   4.0  1.0  1.0    1.0  10.0    1.0   1.0
12       Maharashtra   2.0  1.0  1.0    1.0   9.0    1.0   1.0
13          Nagaland   6.0  1.0  3.0    1.0  15.0   15.0  47.0
14            Odisha   2.0  1.0  1.0    3.0   5.0    6.0   1.0
15   Puducherry_(UT)  18.0  2.0  5.0   24.0  28.0   15.0   7.0
16            Punjab   2.0  1.0  9.0   11.0  25.0   10.0   4.0
17         Rajasthan   1.0  1.0  1.0    2.0   9.0    7.0   1.0
18         TamilNadu   1.0  1.0  1.0    1.0   1.0    1.0   1.0
19         Telangana   1.0  1.0  5.0    1.0  11.0    8.0   1.0
20     Uttar_Pradesh   1.0  1.0  1.0    1.0   8.0    8.0   1.0
21       Uttarakhand  17.0  1.0  1.0    1.0  19.0    9.0   1.0
22       West_Bengal   1.0  1.0  1.0    4.0   2.0    1.0   1.0

In [96]:
max_cur_df = currentdf[['state', 'pollutant_id', 'pollutant_max']].groupby(['state', 'pollutant_id']).max()
max_cur_df = max_cur_df.unstack()
display(max_cur_df.head())

                  pollutant_max
pollutant_id                 CO   NH3    NO2  OZONE   PM10  PM2.5   SO2
state
Andhra_Pradesh             60.0   5.0   44.0   54.0  153.0  152.0  20.0
Arunachal_Pradesh          12.0   NaN    3.0    3.0   84.0   72.0   5.0
Assam                     107.0  19.0   68.0   48.0  227.0  360.0  25.0
Bihar                     150.0  17.0  248.0  240.0  127.0  127.0  40.0
Chandigarh_(UT)            86.0  17.0   51.0   86.0  110.0   83.0  16.0

In [97]:
max_cur_df.columns = ['CO', 'NH3', 'NO2', 'OZONE', 'PM10', 'PM2.5', 'SO2']
max_cur_df.dropna(inplace=True)
max_cur_df.reset_index(inplace=True)
display(max_cur_df)

               state     CO   NH3    NO2  OZONE   PM10  PM2.5    SO2
0     Andhra_Pradesh   60.0   5.0   44.0   54.0  153.0  152.0   20.0
1              Assam  107.0  19.0   68.0   48.0  227.0  360.0   25.0
2              Bihar  150.0  17.0  248.0  240.0  127.0  127.0   40.0
3    Chandigarh_(UT)   86.0  17.0   51.0   86.0  110.0   83.0   16.0
4        Chattisgarh   60.0   7.0   34.0   45.0   87.0   70.0   27.0
5         Delhi_(UT)  113.0  29.0  178.0  111.0  443.0  388.0   67.0
6            Gujarat  104.0  10.0   67.0   58.0  166.0  206.0   83.0
7            Haryana  127.0  50.0   84.0  106.0  175.0  339.0  129.0
8   Himachal_Pradesh   48.0   4.0   30.0  120.0  137.0  120.0   26.0
9          Karnataka  105.0  10.0   52.0   54.0  117.0   94.0   86.0
10            Kerala   46.0   5.0   42.0   36.0   65.0   71.0   21.0
11    Madhya_Pradesh  121.0  25.0  243.0  118.0  425.0  361.0   65.0
12       Maharashtra  108.0  34.0  113.0   90.0  500.0  316.0   87.0
13          Nagaland   18.0   1.0    4.0    4.0   88.0   90.0   56.0
14            Odisha  118.0  12.0   57.0   64.0  191.0   73.0   65.0
15   Puducherry_(UT)   43.0   5.0   31.0   82.0   66.0   40.0   13.0
16            Punjab  101.0  30.0  134.0   67.0  129.0  204.0   77.0
17         Rajasthan  116.0  23.0   73.0  108.0  246.0  365.0   57.0
18         TamilNadu   53.0  22.0   44.0   93.0  198.0  377.0   31.0
19         Telangana  121.0  15.0   55.0   56.0  115.0   70.0   76.0
20     Uttar_Pradesh  122.0  20.0   88.0  182.0  499.0  301.0  101.0
21       Uttarakhand  152.0   7.0   14.0   72.0   82.0   83.0    9.0
22       West_Bengal  102.0  14.0  100.0   72.0  156.0  212.0   45.0

Now the data is ready to be used for analysis.